[2020-12-07 15:35] marcingrudzien opened #1 "Linking data set metadata with WMTS services"
Dear colleagues,
I am unable to link datasets with WMTS services. The content of dataset metadata, services metadata and service capabilities seems ok, but no link is established.
Resource linkages checker tool reports as shown in the pictures below.
![Przechwytywanie](https://user-images.githubusercontent.com/25637709/101368289-40a23c00-38a7-11eb-9351-7f6a89eca38d.PNG)
![Przechwytywanie1](https:/

[2020-12-09 11:09] pawelsoczewski opened #2 "Linking dataset to WFS service"
Dear Geoportal Helpdesk,

I unable to establish link between dataset metadata and its "direct-access" download services - WFS and SOS. The linking between pre-download ATOM and View WMS services works correctly.

The Resource linkages checker tool reports for WFS as shown below:

![Zrzut ekranu 2020-12-9 o 11 00 55](https://user-images.githubusercontent.com/44895671/101619232-49178580-3a13-11eb-82

[2020-12-10 07:56] stephyritz opened #3 "Harvest Console / Conformity of CSW service"
Hello,

We are using the harvestconsole in order to prepare the 2020 monitioring. After the harvesting we've got these indicators :

![image](https://user-images.githubusercontent.com/34446202/101736771-35782780-3ac4-11eb-9ec4-b4419322b3eb.png)

I don't understand why the indicator NSi4.1 related to the conformity of the CSW service is not OK.
What is the test behinf this interface ?

When I use t

[2020-12-10 08:11] stephyritz opened #4 "Harvest Console / Conformity of spatial data sets"
Hello,

I don't understand how the DSi2.2 is caluclated on the harvest console. Is it possible to explain how do you proceed to etsablish if a dataset is conform or not ?
For example, in our case, we've got this result :
![image](https://user-images.githubusercontent.com/34446202/101738458-76713b80-3ac6-11eb-8309-ca05d84a340b.png)

I'm surprised to discover a result of 0% of dataset conformity bec

[2020-12-10 15:03] df-git commented on #1
Dear Marcin,
Thank you for your message.
Unfortunately we are currently very busy with many requests in preparation of the Monitoring deadline of next week.
We cannot promise to help you before the deadline, so any intervention on your side would for sure be useful.

We suggest to check the document (https://inspire-geoportal.ec.europa.eu/files/INSPIRE_Geoportal_process_for_data-service_linking_v1

[2020-12-11 07:19] alitka opened #5 "calculation of indicators > request for detailed documentation"
Related to the comment by Davide Artaseni (2020/05/29) - [#3670](https://ies-svn.jrc.ec.europa.eu/issues/3760#note-4)

We would appreciate, if you could provide us the concrete calculation formular of all indicators (the slides you have provided are not detailed enough). Only on this basis we are able to do a proper analyse of the provided (indicator) results this year, and as a next step to updat

[2020-12-11 08:12] alitka opened #6 "Resource linkages checker tool > 'The system is handling your request. Please wait...'"
Related to issue [#3897](https://ies-svn.jrc.ec.europa.eu/issues/3897#note-6) and maybe to the comment by Davide Artasensi (2020/10/26):

comments from AT, FI and DE

- [x] description of the steps to reproduce the issue & involved resource, related file identifier

case 1: input type "URL to INSPIRE metadata"
* Data (Set or Series) metadata: https://gdk.gdi-de.org/gdi-de/srv/eng/xml_iso19139?uuid

[2020-12-11 10:22] manilly opened #7 "Geoportal/Linkage Checker: Problems with linkage recognition"
During a Harvesting respectivly a linkage check one dataset has problems with its download linkage.
![image](https://user-images.githubusercontent.com/45065613/101891924-fcfb4b00-3ba2-11eb-9b33-69654807289a.png)

When i use the linkage checker, all checks are red despite having an valid etf validation for this metadata.
![image](https://user-images.githubusercontent.com/45065613/101891807-d2a98d80

[2020-12-11 11:19] DeordD opened #8 "INSPIRE metadata catalogue: CSW Filter doesn't work as expected"
Hi all,

I'm trying to request a specific MD record using title and property name (FID is not working because of the fact, that the fileIdentifier is changed in INSPIRE catalogue).

I'm using a POST-request on CSW-Endpoint https://inspire-geoportal.ec.europa.eu/GeoportalProxyWebServices/resources/OGCCSW202/DE

POST:

[code]

The result from CSW-catalog contains 10 results with the following title:

[2020-12-14 13:44] MarisolGomezAndres opened #9 "ES: The LinkChecker doesn´t recognize our SDI Digital certificate"
There is some problem  in recognising our SDI certificate from FNMyT as a valid Authorisation Entity and that´s the reason by our metadata and services are not validated. Therefore, if the FNMyT Certification Authorities shoud be  included as a valid Authorisation Entity. We have analysed the validation errors and discover that both the validator and the linnkChecker don´t recognise our certificat

[2020-12-15 07:37] SimonaBunea opened #10 "RO: New CSW for INSPIRE Geoportal Harvest console"
Dear Helpdesk Geoportal,

We have a new CSW for Romania.
The new URL is https://geoportal.gov.ro/metadata_manager_v2/csw?service=CSW&Request=GetCapabilities
This CSW only provides access to INSPIRE data sets, data series and services. Hence, it is no more needed to apply any filter to filter out other non-INSPIRE data sets, series and services.
This CSW provide metadata TG2.0, so if it is possible

[2020-12-15 10:16] df-git commented on #10
Dear Simona,
Thank you for your message.
We tried to load the new endpoint specified, but unfortunately we have an error.
It seems that the service is responding in 2 different ways when it is called with or without the "version" parameter.
The INSPIRE Extended Capabilities is missing when called with the "version" parameter.

Furthermore, I tried to validate the new endpoint with the INSPIRE Refe

[2020-12-15 10:40] SimonaBunea commented on #10
Thank you!
We notice too what you observed, so will try to fix it and come back to you with an announcement.
Best regards,
Simona Bunea

[2020-12-15 11:51] df-git commented on #9
Dear Marisol,
Thank you for your message. We added the certificate also for the INSPIRE Geoportal Linkage checker.
Regarding the INSPIRE Reference Validator you can follow this issue https://github.com/inspire-eu-validation/community/issues/471.

Best regards,
Daniele on behalf of the INSPIRE Support Team

[2020-12-15 13:23] ttsokolowski commented on #2
Dear Geoportal Helpdesk,
Can you please let us know what we should correct in our configurations?

Best regards,
Tomasz Sokolowski
Chief Inspectorate Of Environmental Protection

[2020-12-15 15:53] df-git commented on #2
Dear Tomasz,
Thank you for your message.
Unfortunately, currently we do not have the capacity to respond to your question now, given that the agreed period for testing is  passed (https://inspire-geoportal.ec.europa.eu/mr2020_testing.html), and the actual deadline is tomorrow.

We suggest to check the document (https://inspire-geoportal.ec.europa.eu/files/INSPIRE_Geoportal_process_for_data-service

[2020-12-15 17:19] dartasensi commented on #7
Dear @manilly,

thank you for reporting this bug. I can confirm the issue that affected only the UI rendering of the result data coming from the backend services. I've already updated the javascript code to handle the slightly different response it receives after analysing your fast services.

Best regards,
Davide on behalf of JRC INSPIRE Support team

[2020-12-15 17:19] #7 closed

[2020-12-15 20:07] pawelsoczewski commented on #2
Dear Daniel,

My colleagues and I have spend a lots of time to test of different option of encoding linkages into metadata document and capabilities document. In the end we got success ... dataset is linked to the WFS in INSPIRE Geoportal when **added additional Resource Identifier encoding using RS_Identifier !!!**

**in dataset metadata**
<img width="995" alt="Zrzut ekranu 2020-12-15 o 20 51 28"

[2020-12-16 10:57] MarcoMinghini commented on #10
Dear @SimonaBunea,
the harvests for the 2020 Monitoring and Reporting started this morning and have all been scheduled to happen within the end of the week (Friday at the latest), so it is of primary importance that your endpoint is ready as soon as possible to be considered in the Monitoring and Reporting process.
Best regards.

[2020-12-16 17:15] SimonaBunea commented on #10
Dear @MarcoMinghini ,

Thank you!
Sorry for the delay, we had some technical problems with the infrastructure, but in the end we succeeded.
We validated with INSPIRE validator and everything seems ok : https://inspire.ec.europa.eu/validator/v2/TestRuns/EID886c1a82-3d4c-4890-ad6b-ec49c2ced333.html
Please, could you try a harvest test for the new endpoint?

Thank you in advance,
Simona Bunea

[2020-12-17 08:44] df-git commented on #10
Dear @SimonaBunea,
We ran your new endpoint in our test environment and it is now successfully ending.
It will be used for the Monitoring and Reporting 2020 activity.

Best regards,
Daniele on behalf of the INSPIRE Support team

[2020-12-17 08:44] #10 closed

[2020-12-17 09:50] SimonaBunea commented on #10
Dear Daniele and Marco,

Good news!
Thank you a lot!

Best regards,
Simona Bunea

[2021-01-05 08:00] martin-saliba opened #11 "Geoportal harvest console - access Forbidden"
Please note that when accessing the geoportal harvest console I have a forbidden message. This also applies to other users.

- [ ] when accessing the geoportal harvest console the message "Forbidden You don't have permission to access /harvestconsole/"  is displayed in the browser.
- [ ]Chrome Version 87.0.4280.88
- [ ] a screenshot illustrating the problem - attached
- [ ] the URL of the page - h

[2021-01-05 08:37] df-git commented on #11
Dear @martin-saliba ,
Thank you for your message.
The INSPIRE Geoportal Harvest Console has been disabled to perform the Monitoring and Reporting 2020 activities.
It will be enabled once the activity will be completed (it may take 1 or 2 weeks more).

Best regards,
Daniele on behalf of the INSPIRE Support team

[2021-01-05 08:37] #11 closed

[2021-01-12 17:20] bcosyn opened #12 "Downloadable WCS (Web Coverage Service) on geoportal"
We have a dataset on the geoportal (https://inspire-geoportal.ec.europa.eu/download_details.html?view=downloadDetails&resourceId=%2FINSPIRE-f0c91711-ece0-11e8-a08e-52540023a883_20201211-170302%2Fservices%2F1%2FPullResults%2F341-360%2Fdatasets%2F7&expandedSection=metadata) which contains a link to a WCS service

The metadataset of the data (https://metadata.vlaanderen.be/srv/api/records/9c5383b3-b9

[2021-01-14 08:05] JulianWill opened #13 "Geoportal Download Details View - AtomFeed - links from dataset which contain multiple file are not displayed"
Dear Geoportal Helpdesk,

I'll have the following dataset (Überflutungsflächen-DE (Hochwasserrisikomanagement-RL 2. Zyklus 2016-2021)):

https://inspire-geoportal.ec.europa.eu/download_details.html?view=downloadDetails&resourceId=%2FINSPIRE-4fed3eb0-06fa-11ea-8480-525400695e9c_20201118-093302%2Fservices%2F1%2FPullResults%2F57001-57050%2Fdatasets%2F20&expandedSection=metadata

The file identifier i

[2021-01-20 14:33] tvp-vk opened #14 "Can`t access Harvest console"
Hello,

I can`t access Harvest console -> https://inspire-geoportal.ec.europa.eu/harvestconsole/

"Forbidden
You don't have permission to access /harvestconsole/ on this server."

There is made some changes and I can access only from define IP addresses? Or there is a new harvest console link?

[2021-01-20 15:34] df-git commented on #14
Dear @tvp-vk
Thank you for your message.
The INSPIRE Geoportal Harvest Console has been disabled to perform the Monitoring and Reporting 2020 activities.
It will be enabled once the activity will be completed (before the end of this).

Best regards,
Daniele on behalf of the INSPIRE Support team

[2021-01-20 15:34] #14 closed

[2021-01-21 22:10] bcosyn commented on #12
For your interest. WCS service is an arcgis 10.5 WCS service and it delivers strictly image/tiff as format for version 2.0.1. More recent testing on our new 10.7.1 and  10.8.1 env do not show any change in the format. This format delivered by ESRI arcgis server is an XML based response with a blob.

[2021-01-25 07:06] alitka opened #15 "DE: unable to publish latest session"
Dear @dartasensi,

At the moment I'm not able to publish our latest harvest results.

- [x] description of the steps to reproduce the issue
1. go to [Harvesting Status](https://inspire-geoportal.ec.europa.eu/harvesting_status.html) and open "[Geoportal harvest console](https://inspire-geoportal.ec.europa.eu/harvestconsole/)"
2. access to the [dashboard ](https://inspire-geoportal.ec.europa.eu/harv

[2021-01-25 10:10] dartasensi commented on #15
Dear @alitka

the Geoportal is still transferring and indexing your data. Unfortunately, after the transfer from the sandbox to the front-end space, it takes time to index all these informations into Solr. I've just checked and it is still running. I will keep an eye on it, and let you know when it is finished.

KR,
Davide on behalf of the JRC INSPIRE Support team

[2021-01-26 05:26] agiur opened #16 "Harvesting for Malta"
To whom it may concern,

Prior to the Monitoring and Reporting period we were having successful harvests which were reflecting the exact amount we had in our catalogue, however this is not the case after the Harvesting Portal was made available again. The harvesting process is now only getting 20 resources from our environments. During the period of non-activity of harvesting portal nothing change

[2021-01-26 05:38] alitka commented on #15
Dear @dartasensi , Thanks for your message. I checked the numbers (metadata records) on the Geoportal and I think, that the transfer from the sandbox to the front-end space is finished now (all metadata records of the latest harvest process are available). Kind regards!

[2021-01-26 05:38] #15 closed

[2021-01-26 13:39] agiur commented on #16
To whom it may concern,

I used a different browser i.e. Firefox to perform the harvest and it was successful.

Thanks for your support.

[2021-01-26 13:39] #16 closed

[2021-02-03 14:27] idevisser opened #17 "Harvesting error"
Dear @dartasensi,

At the moment I'm not able to harvest the Dutch endpoint.
The steps;
1. In the harvesting dashboard schedule a new harvest
2. email received [INSPIRE Geoportal - Harvest console] New session request accepted
3. within a few minutes an error message appear in the harvesting dashboard, see prinstcreen

![image](https://user-images.githubusercontent.com/10847083/106754548-650f6000-

[2021-02-04 11:22] idevisser commented on #17
Dear @dartasensi,

After reasearch on our site we have some more additional info;
Since we hardly see any traffic on the inspire endpoint, we have a suspicion that the harvest is not reaching the server.
This could have to do with the certificate, the Dutch root certificate was updated at the end of last year, due to a security problem, this certificate has also been rolled out on the NGR server.

[2021-02-05 09:17] dartasensi commented on #1
Dear Marcin,

could you please check if the issue you mentioned is still valid? As announced at the last MIG-T meeting, we intend to offer support on Geoportal code only for critical bugs.

Kind regards,
Davide

[2021-02-05 09:28] dartasensi commented on #2
Dear @pawelsoczewski,

as you correctly stated, using RS_Identifier element has been removed with TG MD 2.0, and with the latest MR2020 report we have converged our efforts only toward TG MD v2.0 compliance. I think Geoportal will not extend the support on this RS_Identifier approach.

Kind regards,
Davide

[2021-02-05 09:28] #2 closed

[2021-02-05 09:48] dartasensi commented on #3
Dear @stephyritz,

as stated in [COMMISSION IMPLEMENTING DECISION (EU) 2019/1372](https://eur-lex.europa.eu/legal-content/EN/TXT/?uri=uriserv:OJ.L_.2019.220.01.0001.01.ENG&toc=OJ:L:2019:220:FULL), under article 7 (a), the NSi4.1 indicator shall represent:

The conformity information about a service shall be expressed in its metadata definition, as per MD TG v2.0.
So if your discovery service has b

[2021-02-05 10:04] dartasensi commented on #4
Dear @stephyritz

similarly to the issue #3 , you should check that the conformity about a dataset is properly expressed in its metadata.
As stated in [COMMISSION IMPLEMENTING DECISION (EU) 2019/1372](https://eur-lex.europa.eu/legal-content/EN/TXT/?uri=uriserv:OJ.L_.2019.220.01.0001.01.ENG&toc=OJ:L:2019:220:FULL), under article 5 (c), the DSi2.2 indicator shall represent:

Therefore, in order to c

[2021-02-05 10:10] dartasensi commented on #17
Dear @idevisser,

I'm checking again, and it seems that the registered NL endpoint (the same URL used for the MR2020 reporting) is not reachable at all.
Could you please verify the status of the service? Otherwise, could you please share (or send with an email to our support) the new updated URL (and relative OGC filter, if still needed)?
I will then update the endpoint configuration and start som

[2021-02-05 10:13] dartasensi commented on #5
Dear @alitka,

I will now forward your request to the team, and I will keep you posted.

Kind regards,
Davide

[2021-02-05 10:17] marty1357 commented on #1
The issue is still valid.

[2021-02-05 10:20] dartasensi commented on #6
Dear @alitka ,

We already reduced the impact of the "disk issue" you mentioned. Also, during that period of time (ie. Dec 11th), we received a massive amount of linkage assessment requests, and usually these spikes of heavy traffic on the Geoportal could lead to overall slower performances.
May I ask you to check if this issue is still present?

Thanks,
Davide

[2021-02-05 10:22] df-git commented on #9
Dear Marisol,
I am assuming that this issue has been resolved, since we did not get any feedback.
I therefore close this issue.

Best regards,
Daniele on behalf of the INSPIRE Support Team

[2021-02-05 10:28] dartasensi commented on #8
Dear @DeordD ,

the OGC Filter support of the INSPIRE Geoportal CSW implementation is minimal, therefore we can't offer full support to the "complex" logic you expressed within your filter expression.

Kind regards,
Davide

[2021-02-05 10:28] #8 closed

[2021-02-05 10:30] dartasensi commented on #1
Thank you for your assessment. I will now proceed to check if this linkage issue involves a potential bug in the Geoportal.
I will let you know as soon as I found something.

[2021-02-05 10:37] dartasensi commented on #12
Dear @bcosyn

thank you for the question. Unfortunately, at the moment the Geoportal doesn't offer full support for Download services implemented as WCS (similar situation with SOS services).
I would inform you that this issue is known and it will be included in the backlog list of the upcoming evolution of the Geoportal software.

Regards,
Davide

[2021-02-05 11:47] MarisolGomezAndres commented on #9
Please don´t closet he tiket because it´s not solved.

The Inspire validator and the LinkChecher publshed now  provide the same error about the certificate. (Coupled Resource)

[cid:image001.jpg@01D6FBBD.0CC97B90]

[cid:image002.jpg@01D6FBBD.0CC97B90]

However, in the staging instance the certificate is recogniced and it works. When are you planning to publish in the producction instance?

[cid:im

[2021-02-05 14:30] bcosyn commented on #12
Any global idea on the time frame for this?

[2021-02-05 15:20] MarisolGomezAndres commented on #9
Thaks.

Un saludo.

María Soledad Gómez Andrés
Jefa de Área de Servicios SIG y Web
SG de Tecnologías de la Información y Comunicaciones
Ministerio de Agricultura, Pesca y Alimentación

De: df-git [mailto:notifications@github.com]
Enviado el: viernes, 5 de febrero de 2021 15:20
Para: INSPIRE-MIF/helpdesk-geoportal <helpdesk-geoportal@noreply.github.com>
CC: Gómez Andrés, Soledad <msgomez@mapa.es>;

[2021-02-05 16:50] MarcoMinghini commented on #5
Dear @alitka,
can you better detail what information on the calculation of indicators (and which indicators in particular) you would need, in addition to the information already included in the [COMMISSION IMPLEMENTING DECISION (EU) 2019/1372](https://eur-lex.europa.eu/legal-content/EN/TXT/?uri=uriserv:OJ.L_.2019.220.01.0001.01.ENG&toc=OJ:L:2019:220:FULL) and the [presentation ](https://webgate.ec

[2021-02-08 19:33] bcosyn opened #18 "Change of URL of Flemish CSW"
We would like to ask for a change of URL for the Belgian/Flemish CSW in the EU geoportal from

https://geonetwork.geopunt.be/zoekdienst/srv/dut/csw?REQUEST=GetCapabilities&service=CSW

https://metadata.vlaanderen.be/srv/dut/csw?REQUEST=GetCapabilities&service=CSW

The current filter is still valid.

[2021-02-09 17:07] dartasensi commented on #18
Dear @bcosyn

I checked and changed the endpoint URL in our staging environment and it completed successfully a harvest.
While checking the GetCapabilities document, I found this:
[code]
In order to ensure consistency, may I suggest to use directly the "eng" language? (ie. change the registered URL in
[https://metadata.vlaanderen.be/srv/**eng**/csw?REQUEST=GetCapabilities&service=CSW](https://meta

[2021-02-09 17:39] bcosyn commented on #18
Ciao Davide,
Please change accordingly so the URL is consistent with the content of the GetCapabilities.
Thx
Bart

[2021-02-09 17:48] dartasensi commented on #9
Dear @MarisolGomezAndres

I'm not sure the issue you found could be related to the SSL certificates trust chain inside Geoportal.
In fact, I spent some time reviewing all the Root CA certificates that we recently imported, and for your services the only Root CA involved is `AC RAIZ FNMT-RCM`, already included in our truststore since Nov 2019.

Instead, I quickly checked some of Resource Locators a

[2021-02-10 09:15] idevisser commented on #17
Dear @dartasensi,

There have been some adjustments on our side, cousing the harvesting problem. Can you please change the NL endpoint in
https://www.nationaalgeoregister.nl/geonetwork/srv/dut/csw-inspire

Thanks Ine

[2021-02-10 09:53] dartasensi commented on #17
Dear @idevisser

the change has been applied. I assume the previous OGC Filter remains still valid and applicable. (I can post it here if you need)
I've just started a new harvest on your behalf to monitor the progress.

KR,
Davide

[2021-02-11 13:52] dartasensi commented on #17
Dear @idevisser

the harvest is available in the HarvestConsole. It completed successfully, and it seems fine on our side.
If you agree, we can close this issue.

Regards,
Davide

[2021-02-11 13:58] dartasensi commented on #18
Dear @bcosyn

thank you. I will apply the mentioned fix soon after the successfull outcome of the ongoing harvest. (with ETA today mid afternoon)
I will keep you posted about it, then we can close this issue (if you agree).

Davide

[2021-02-12 14:31] dartasensi commented on #18
Dear @bcosyn

the HarvestConsole seems to have completed the harvest successfully. I think it solves this "ticket".

Kind regards,
Davdie

[2021-02-12 14:31] #18 closed

[2021-02-15 09:40] wboersma opened #19 "Priority Dataset Viewer: not all legislation shown in the Environmental Domain Water"
Hello,

In the Geoportal Priority Dataset Viewer, something goes wrong with the viewer of the Environmental Domain Water. Not all datasets can be found in the Environmental Domain Water overview. But the datasets are available if you look through the legislative overview.

Two examples:
- Legislation:  Directive 2007/60/EC (https://inspire-geoportal.ec.europa.eu/results.html?country=nl&view=detail

[2021-02-15 12:55] idevisser commented on #17
Dear @dartasensi,

The harvest results are what we expected, thank you, I will close this issue.

Best regards Ine

[2021-02-15 12:55] #17 closed

[2021-02-17 06:47] #9 closed

[2021-02-19 14:38] agiur opened #20 "AM Datasets Download"
To whom it may concern,

Currently we have 12 AM datasets that actually have a fully functional download but for some reason or another they are marking no download upon harvest. When clicked on these datasets one can find that they indeed have a download and that the dataset is being downloaded. Kindly find attached some screenshots of one example below. The concerned datasets are the following:

[2021-02-22 14:21] agiur opened #21 "Ground Water Body Malta View Service"
To whom it may concern,

We have one datasets Ground Water Body Malta with id: 07e86eba-e7b4-4377-b375-d8c6a8440926 which is marking 'No View service found for this dataset', however the view service is working and is currently responding correctly when consumed. Kindly find attached a folder containing 2 images depicting the service consumption from Geonetwork and Geomoose. Your help on this is m

[2021-02-22 15:01] agiur opened #22 "EMFF 8.3.1 Monitoring Sites Download Service"
To whom it may concern,

We have a dataset EMFF 8.3.1 Monitoring Sites with id: a31f18aa-7cc8-4a8f-971d-fe8c439709f7 that upon harvest is marking a missing download link. However, when accessed through the Inspire geoportal the resource has a download link which is actually downloading the dataset. Kindly find attached a folder containing some snippets which may help with the issue.

Thanks and Re

[2021-02-23 16:19] laers opened #23 "INSPIRE Download and ftp-protocol"
Hi,

It seems for me that the Geoportal (and LinkageChecker) is not able to read and find data that is distributed by a service using the ftp protocol. Can you confirm this? The directive and IR NS does not have rules specifying which protocols are accepted and which are not.

One of our data sets (TN railway) can be downloaded in this atom feed download (metadata: https://www.geodata-info.dk/srv/

[2021-02-24 09:05] dartasensi commented on #19
Dear Wideke,

you are right. I checked and found the bugs you mentioned, and I'm working on a fix right now.
I will keep you posted.

Kind regards,
Davide

[2021-02-24 10:27] IvaGasparovic opened #24 "Spatial scope problems"
Hi, we are having problems with displaying Spatial scope keywords in the INSPIRE Geoportal. All of the datasets in the Croatian NSDI Geoportal have defined keyword representing the spatial scope, but only 55 are displayed in the INSPIRE Geoportal and 88 keyword are not recognized.
Do you know the reason why this happens? The only significant difference in encoding between these metadata is the ele

[2021-02-24 11:52] MarisolGomezAndres commented on #9
Dear team:

The ticket cannot be closed for the next reason:

·         The Inspire validator and the LinkChecher published now provide the same error about the certificate. (Coupled Resource). It  is solved in the staging instance http://staging-inspire-validator.eu-west-1.elasticbeanstalk.com/etf-webapp/ but not in the live instance. As you informed us, the certificate will be included in the li

[2021-02-25 13:23] alitka commented on #6
Dear @dartasensi , please excuse my late response.

I tested all three case with the same metadate triple again and below you can find my results:
- case 1: input type "URL to INSPIRE metadata" > around 37 minutes, linkage check results = passed all main linkage aspects and linkage aspects related to the INSPIRE Geoportal
- case 2: input type "INSPIRE metadata XML content" > around 33 seconds; lin

[2021-02-25 16:58] dartasensi commented on #19
Dear @wboersma,

apologies for the late reply.
I just want to let you know that, while I was working on this fix, I found other inherited issues that require a further analysis and review of our internal workflow, prior continuing to solve this task.
Therefore, I would put this on-hold while we internally solve and strengthen the current approach.

Thanks for your patience and understanding.

[2021-03-01 10:59] wboersma commented on #19
Dear @dartasensi,

Thank you for the feedback. Can you perhaps indicate a time frame when this bug is resolved.

Best regards, Wideke

[2021-03-19 07:43] madlenkk opened #25 "CZ - Harvest of CZ catalog return error 400"
Dear support team,

I would like to ask you for help with the harvest of the CZ catalog. Today I tried to run harvest in the harvesting console  for several times and it always ended with this error after few minutes:
Request for caching of /INSPIRE-16542303-763e-11e4-8b38-52540004b857_20201216-140702/services/1 ended with status 400

Our national discovery service seems to works well: http://geop

[2021-03-19 11:39] dartasensi commented on #25
Dear @madlenkk

the issue lies in your GetRecords response.
The INSPIRE Geoportal follows the GetCapabilities declaration, and it generates POST requests for the GetRecords operations (but I also checked and the GET responses present the same error).
In details:
URL:
[code]
POST body (encoding: xml):
[code]
The response contains a series of additional wrong elements attached after the closing elem

[2021-03-24 16:57] fdumortier opened #26 "harvestconsole unreachable"
Dear,

It seems that https://inspire-geoportal.ec.europa.eu/harvestconsole/ is unreachable. I click on "login", type my username and password, and after a while the following page is displayed:

You are now logged in to EU Login.
You are being redirected to harvestconsole...
Note: If you are not automatically redirected, please click here to access harvestconsole

And a few seconds later the follo

[2021-03-25 07:51] martin-saliba opened #27 "INSPIRE Geoportal harvest issue - MT"
Dear INSPIRE Geoportal helpdesk,
Please note that Geoportal harvest status  and country console not accessible, https://inspire-geoportal.ec.europa.eu/harvesting_status.html

Your assistance is kindly requested.
Thank you
Martin

[2021-03-25 09:39] df-git commented on #26
Dear @fdumortier ,
Thank you for your feedback.
We are sorry for the inconvenience. We have now fixed the problem and the harvest console is back available.

Kind regards,
Daniele on behalf of JRC INSPIRE Support team

[2021-03-25 09:39] df-git commented on #27
Dear @martin-saliba ,
Thank you for your feedback.
We are sorry for the inconvenience. We have now fixed the problem and the harvest console is back available.

Kind regards,
Daniele on behalf of JRC INSPIRE Support team

[2021-03-25 10:58] #27 closed

[2021-03-26 12:20] madlenkk commented on #25
Dear @dartasensi,

thank you very much for your analysis! We repaired our catalog service and now everything seems to work well again.
Yesterday I´ve already harvested our service successfully, so I can close this issue.

Thanks and regards,
Magdalena

[2021-03-26 12:20] #25 closed

[2021-03-29 10:13] alitka opened #28 "DE: request for a new harvesting"
Dear Geoportal Helpdesk,

As mentioned in Roberts Mail from 2020/03/02 we would like to initiate a new push of our metadata records to the EU Geoportal. For this reason we kindly ask you to start a new harvesting of our catalogue instance and publish them for us in the Geoportal harvesting "sandbox", please.

Thanks in advance and best regards,

 Anja (on behalf of Coordination Office SDI Germany)

[2021-03-30 08:37] dartasensi commented on #28
Dear Anja,
your harvest has been scheduled.

I have one proposal: based on some latest improvements I made on the configuration, and after we see if this harvest run smooth, without errors, we might give you back the control of these types of requests.
What do you think?

Kind regards,
Davide

[2021-03-31 06:39] alitka commented on #28
Dear @dartasensi ,
That's good news for us. When you'll start the harvesting of our catalogue?
Regards to our latest improvements: did you already switch to GeoNetwork 4.0 alpha? If so, is it possible to share some of your experience with us?
Kind regards!

[2021-03-31 15:37] oreodouble opened #29 "Error message when harvesting metadata"
It was not possible to "schedule a new harvest" for the Swiss metadata in the harvest console. After processing, the following error message was reported:
Request for caching of /INSPIRE-7a076b28-098b-11e7-9a72-52540023a883_20201216-164202/services/1 ended with status 500
Microsoft Edge, Version [89.0.774.50]
Screen shot:
![image](https://user-images.githubusercontent.com/35266666/113170733-1eae3a

[2021-04-01 07:33] alitka commented on #5
Dear @MarcoMinghini,
Please excuse my late repsonse.

To get a better understanding of the results we did some calculations on our side. In particular with regard to the indicator DSi2.x (Monitoring of the conformity of spatial data sets) and NSi4.x (Monitoring of the conformity of network services) we have identified significant deviations from your values.

The values as of December 20, 2020 wer

[2021-04-01 07:46] manilly opened #30 "Problem Harvesting AT metadata"
Hi,
i tried to start a Harvest from Austrian CSW as usual (tried it already 3 times). I'm getting the E-Mail stating "[INSPIRE Geoportal - Harvest console] New session request accepted", but in Harvest console there is no process running
see:
![image](https://user-images.githubusercontent.com/45065613/113260899-18fc3700-92cf-11eb-8c66-9df8bd8cf720.png)

[2021-04-01 10:22] bcosyn commented on #29
Same issue for the Belgian Informatie Vlaanderen node:
![Knipsel](https://user-images.githubusercontent.com/13509656/113280680-e9582980-92e4-11eb-8aa9-421e5ba3b55e.PNG)

[2021-04-02 11:25] marcingrudzien commented on #30
Hi,

I have the same problem in Poland.

Best regards,
Marcin

[2021-04-05 23:43] MartinTuchyna opened #31 "SK: Date of the harvesting for the INSPIRE Monitoring 2020 indicators calculations"
In most of the MSs [INSPIRE indicators overview](https://inspire-geoportal.ec.europa.eu/mr2020.html), there are mentioned dates arount 16-17 Jan 2021.
Eg. in [summary for SK](https://inspire-geoportal.ec.europa.eu/mr2020_details.html?country=sk) there is _The date of harvest metadata: Sun, 17 Jan 2021 07:11:23 GMT._

![obrázok](https://user-images.githubusercontent.com/6195936/113639284-16a42f00-9

[2021-04-06 07:03] wboersma opened #32 "Problem Harvest Console metadata NL"
Hello,

Today I started a harvest. The systems says 'processing' but after 1 minute you get the screen again 'start a harvest'.
 As more MS have also issues since a week, can you please check what the problem is and resolve this issue.

Best regards, Wideke

[2021-04-06 07:16] dartasensi commented on #29
Dear @oreodouble @bcosyn,

thank you for your feedback. We are aware of the issue and we are currently working on it.

Kind regards,
Davide on behalf of JRC INSPIRE Support team

[2021-04-06 07:16] dartasensi commented on #30
Dear @manilly @marcingrudzien,

thank you for your feedback. We are aware of the issue and we are currently working on it.

Kind regards,
Davide on behalf of JRC INSPIRE Support team

[2021-04-06 07:17] dartasensi commented on #32
Dear @wboersma,

thank you for your feedback. We are aware of the issue and we are currently working on it.

Kind regards,
Davide on behalf of JRC INSPIRE Support team

[2021-04-06 09:45] dartasensi commented on #28
Dear @alitka

unfortunately the harvest didn't complete successfully.
At the moment, I cannot say the origin of issue, but I was forced to take action so I immediately restarted the harvest service.
Now it is running, and it will monitor it for the next days. Apologies for the inconvenience.

KR
Davide

[2021-04-06 12:47] dartasensi commented on #32
Duplication of #29

[2021-04-06 12:47] dartasensi commented on #30
Duplication of #29

[2021-04-06 12:51] dartasensi commented on #29
Dear @oreodouble

the harvest of the Swiss endpoint completed successfully. Please, review the outcome with the HarvestConsole, and let me know if there are other issues.

@bcosyn I followed the time order of the recently reported harvest errors, so I took the liberty to reschedule your endpoint for a new harvest.

Kind regards,
Davide

[2021-04-06 12:53] dartasensi commented on #30
Dear @manilly
the harvest of the AT endpoint completed successfully. Please, review the outcome with the HarvestConsole, and let me know if there are other issues.

Dear @marcingrudzien
I followed the time order of the recently reported harvest errors, so I took the liberty to reschedule your endpoint for a new harvest.

Kind regards,
Davide

[2021-04-06 12:55] dartasensi commented on #32
Dear @oreodouble
it seems that now the harvest service is fully operational and the harvest of the NL endpoint completed successfully. As I replied to other users with the same recent issues, please, review the outcome with the HarvestConsole, and let me know if there are other issues.

Kind regards,
Davide

[2021-04-06 13:51] dartasensi commented on #31
Dear @MartinTuchyna ,

thank you for reporting this bug.
Indeed it was a visualization error (ie. jumping exactly one month forward) of the "dumpdate" field, and it has been promptly fixed.
For your assurance, you can directly access the original MR2020 source data here:
https://inspire-geoportal.ec.europa.eu/mr2020/resources/geoportal/INSPIRE-da77b119-9d6e-11e7-b5a7-52540023a883.json

Kind regard

[2021-04-06 13:51] #31 closed

[2021-04-06 17:13] MartinTuchyna commented on #31
Thanks @dartasensi !

[2021-04-07 08:04] dartasensi commented on #29
Dear @bcosyn

the harvest completed successfully.
![image](https://user-images.githubusercontent.com/56717738/113828623-e8ac1100-9784-11eb-9852-8858b445fd8a.png)
Please, check the latest report available from the HarvestConsole (click on the "Check last report").

Reviewing that report, I noticed that it seems to miss ~20 records from the expected (Discovery Service declared) figure.
This usually

[2021-04-07 08:04] #29 closed

[2021-04-07 08:07] dartasensi commented on #30
Dear @marcingrudzien

I see that the harvest completed successfully, and you already managed to review and publish it.

Kind regards,
Davide

[2021-04-07 08:07] #30 closed

[2021-04-07 08:14] dartasensi commented on #32
Dear @wboersma

a quick update: the harvest is still running, even the ETA is ways over its _past due_.
This may happens when some slow service is involved, but let's wait for the completion and I will review it.

Kind regards,
Davide

[2021-04-07 13:34] manilly opened #33 "Problem/Bug Harvest Console"
Hi,
I started a new harvest, and there is again a problem with the harvest console. There are no harvest numbers nor is there a report for the metadata with linkage issues or indicators.

![image](https://user-images.githubusercontent.com/45065613/113874910-8cfa7b80-97b6-11eb-85bf-8f6c3675d0f6.png)

![image](https://user-images.githubusercontent.com/45065613/113874984-9c79c480-97b6-11eb-9c06-d88ee

[2021-04-07 14:45] dartasensi commented on #33
Dear @manilly

thanks for the feedback. I'm on it right now.
I checked and I see your harvest data. Also SI harvest manifest a similar issue, while ES encounters some issues with completing the harvest. In your case, the issue is centred on our Solr instance, that it seems to prevent returning results, as you clearly noticed.
I keep you posted.

KR
Davide

[2021-04-07 21:45] dartasensi commented on #33
Dear @manilly

I finally found that, in our sandbox environment, there was a significant corruption of data regarding several harvest sessions (executed between April 1st and today) that led to various errors reported here in the Helpdesk.

Therefore, the only solution was to stop the services, then carefully execute a clean up from all of these errors before proceeding further.
Even if the succes

[2021-04-07 21:47] dartasensi commented on #32
Dear @wboersma

thanks for your patience.
As mentioned in #33 , there was a significant corruption of data that led to several errors.
Now, I scheduled again the harvest of your endpoint. Sorry for the inconvenience.

KR
Davide

[2021-04-07 21:48] dartasensi commented on #28
Dear @alitka

thanks for your patience.
As mentioned in #33 , there was a significant corruption of data that led to several errors.
Now, I scheduled again the harvest of your endpoint. Sorry for the inconvenience.

KR
Davide

[2021-04-08 05:43] dartasensi commented on #32
Dear @wboersma

the harvest has been completed successfully.
Please, review the result in the HarvestConsole and, if everything looks fine, I will then close this issue.

Davide

[2021-04-08 05:46] dartasensi commented on #33
Dear @manilly

I see now that you've already restarted the harvest. Got any comments about the previous run?
Do you experience the same error you described before?
Please, let me know so I might consider this issue solved.

Davide

[2021-04-08 08:15] wboersma commented on #32
Dear @dartasensi

The outcome looks fine, so I publised the results today. I close the issue if the results are publised (pending still).

Best regards,

Wideke

[2021-04-09 08:25] alitka commented on #28
Dear @dartasensi

The latest harvest process was successful and we checked the results. Due interal (technical) problems on our side yesterday, the indicators are not as good as they should be. Therefore we would appreciate, if you can schedule a new harvest of our endpoint on Monday, April 12, 2021 (after 8am). Please use this endpoint URL > https://gdk.gdi-de.org/gdi-de/srv/ger/csw?request=GetCa

[2021-04-12 07:11] manilly commented on #33
Seems good now, thanks.
Can be closed imo

[2021-04-12 08:18] wboersma commented on #32
Dear @dartasensi,

The results were still not published this morning (after 4 days). I published them now again, but can you check what goes wrong in the publish process.

Best regards, Wideke

[2021-04-12 08:53] #33 closed

[2021-04-12 08:54] dartasensi commented on #32
Dear @wboersma

Thanks for reporting this issue. I will have a look immediately and let you know.

Davide

[2021-04-12 09:59] dartasensi commented on #32
Update: We are experiencing some issues within the connection to our servers.
I will keep you posted.

Davide

[2021-04-12 10:03] wboersma commented on #32
I see the harvest is publised now, see https://inspire-geoportal.ec.europa.eu/harvesting_status.html

[2021-04-14 06:54] alitka commented on #28
Dear @dartasensi
After having contacted you to schedule a new harvest of our catalogue, we didn't notice any action on your side based on several internal checks. Therefore, it would be great if you can tell us, when you are planning a harvest of our endpoint.
Thanks in advance and kind regards.

[2021-04-14 08:21] dartasensi commented on #32
Dear @wboersma

Again, apologies for this inconvenience. Our IT support finally managed to restore the remote connection to our servers yesterday, then I checked and I can confirm that the publishing completed successfully, even if slower than usual.
I would close this issue, but you should be able to still comment if you need further assistance on this.

KR,
Davide

[2021-04-14 08:21] #32 closed

[2021-04-14 08:31] dartasensi commented on #28
Dear @alitka

I'm sorry for the inconvenience. As mentioned also in #32, between Monday and yesterday we lost the remote connection to our production servers, and our IT support finally managed to restore it yesterday EOB.
I will now schedule a new harvest on your behalf. If everything will go smooth, we can then think about releasing back to you the control of the harvest scheduling, as we discus

[2021-04-14 10:05] alitka commented on #24
Dear @IvaGasparovic,
This is an interesting behaviour... In Germany, we use the gmx:Anchor element in some metadata records too, to reference the spatial scope codelist + the related thesaurus and the output in the INSPIRE Geoportal is correct:

![grafik](https://user-images.githubusercontent.com/29542183/114692573-08a97a80-9d19-11eb-92e4-180d2d9a702c.png)
![grafik](https://user-images.githubuserc

[2021-04-14 10:25] alitka commented on #24
Dear @IvaGasparovic,
I assume that the error is related to the codeList URI of the thesaurusName. Your reference end up with ```#```. Using the INSPIRE Validator "Conformance Class 2b: INSPIRE data set and data set series metadata for Monitorung | Monitoring requirements | M.1: Spatial scope keyword" I can confirm this:
```The metadata record set has 1 record(s) with errors for this assertion.```

[2021-04-14 13:50] alitka commented on #28
Dear @dartasensi,
Just a note: harvest is running since 1p.m. today. However, I would like to ask again if the switch back of the control of the harvest scheduling to our side is related to the migration of the INSPIRE Geoportal to GeoNetwork 4.x?
Kind regards.

[2021-04-16 06:26] alitka commented on #28
Dear @dartasensi,
Due to an internal check we determine that the harvest process don't run any more.  Also in the harvest console we only see the results from April, 08th 2021. Could you tell us, if your production servers maybe lost the remote connection again?
Thanks in advance and kind regards.

[2021-04-16 06:28] alitka commented on #5
Dear @MarcoMinghini,
Any news to our above observations?
Thanks in advance and kind regards.

[2021-04-16 07:27] nppozar opened #34 "SI: Harvesting problem with download services"
Dear Geoportal helpdesk team,

We would ask for your help in detecting harvesting problems. In the last harvest of Slovenian metadata, some metadata of download and view services are missing, but we can't find a solution. For download services the linkage checker reports that the download link is missing, everything is fine on the reference validator, and we also have the URL for the dataset defin

[2021-04-16 07:47] dartasensi commented on #28
Dear @alitka

thanks always for your prompt reply and feedback.

Regarding the switch back on the harvest control, we would like to do it even before the migration to GN, since it is just a matter of 80% hardware issues (eg. disk space, network stability) and 20% software (eg. queue of harvests, Solr issues, undiscovered bugs).
For sure, with the migration I hope we will offer a better service on

[2021-04-16 08:17] dartasensi commented on #5
@MarcoMinghini I think I will take it from here. :)

Dear @alitka,
May I ask you (as double check) to provide the fileIdentifier of the metadata describing the Discovery Service (from which that snippet is taken)?
So I will then go into our stored MR2020 harvest session and check your findings.

Apart from that, I can confirm that the formula you exposed for both the indicators are correct, and I

[2021-04-16 08:29] alitka commented on #5
Dear @dartasensi,
The fileIdentifier of the metadata describing the Discovery Service is = ```7b88a292-cc04-0ae9-5d00-aaac167fe33c```
And thanks for checking your findings regarding this specific case.
Kind regards.

[2021-04-16 09:35] dartasensi commented on #34
Dear @nppozar

thank you for the feedback. I will review as soon as possibile the status of your endpoint regarding the reported error on missing data, and provide you feedback.
May I ask you some more detailed examples of your discoveries, to narrow down our effort on debugging it? Thanks.

KR,
Davide

[2021-04-16 10:09] nppozar commented on #34
Dear @dartasensi,

yes off course. For example: download services for Consolidated Cadastre of Public Infrastructure  (923dfad8-6172-4ffa-be2a-4436e26a8d78) are missing. At the linkage checker I get this report:

![image](https://user-images.githubusercontent.com/45449924/115006347-0d9d3400-9ea9-11eb-80b5-eef117611bd1.png)

I also validated download service metadata for this example :

and report

[2021-04-17 08:24] dartasensi commented on #28
Dear @alitka

I checked right now and the harvest, even if almost complete, seems stuck since Friday morning around the wrap-up process (that usually completes in ~1h for your endpoint).
Therefore, I forcefully restarted the services, restored the right configuration and rescheduled a new harvest. Hopefully by Monday (ETA in HC says Sunday at noon) the harvest should be ready to be reviewed.

Rega

[2021-04-17 08:29] dartasensi commented on #34
Dear @nppozar

Thank you for the samples. I will use them to check their status on the latest harvest session.
Regarding the potential errors on that harvest, I didn't find anything relevant in the logs.

Davide

[2021-04-20 06:27] dartasensi commented on #28
Dear @alitka

yesterday we lost again the internal connection to our servers.
Since this morning it seems restored, so I had a chance to take a look. The latest harvest, executed during the weekend, seems fine for me.
If you agree, I would close this issue.

KR,
Davide

[2021-04-20 08:50] gdi-de-sara commented on #28
Hello Davide,

on behalf of Anja (she is on vacation), we want to let you know that we have published the results today. We noticed that there is still the old endpoint in use, can you please change it to  URL > https://gdk.gdi-de.org/gdi-de/srv/ger/csw?request=GetCapabilities&SERVICE=CSW&VERSION=2.0.2.? Now that harvesting is running better, we would like to follow your suggestion and take over t

[2021-04-20 15:04] dartasensi commented on #5
Dear @alitka,

thanks again for raising this issue and providing the discovery service metadata.

It is indeed a bug, which only appears in a specific scenario and thus affects a small portion of the service metadata. When it occurs, the impact of this bug is always an over-estimation of the conformity (i.e. a false positive), so the opposite can never happen.
We added the task in our backlog and

[2021-04-26 12:42] alitka commented on #5
Dear @dartasensi,

Thanks for your reply.

We are still struggling to reproduce your results. Even if we match the title with "1089" AND "2010" we get significantly different results. Also, this pattern matching approach introduces other kinds of errors. For example the title ```VERORDNUNG (EU) Nr. 1253/2013 DER KOMMISSION vom 21. Oktober 2013 zur Änderung der Verordnung (EU) Nr. 1089/2010 zur Dur

[2021-05-03 10:23] alitka commented on #28
Dear @dartasensi,
I think, we can close this issue. Today I started a new harvest process by myself and cross the fingers, that everything is running smoothly till tomorrow.
Kind regards!

[2021-05-04 06:16] bcosyn opened #35 "Error in publishing BE harvest results"
We tried to publish the results from te Belgian/Flemish node 'Metadata Vlaanderen CSW (Informatie Vlaanderen)' but received following error/message
![Capture](https://user-images.githubusercontent.com/13509656/116966609-e3bd7d00-acb0-11eb-9937-f2d3301eb505.PNG)

[2021-05-05 07:07] agiur opened #36 "Harvesting Process"
We are currently trying to perform a harvest on our end point but it seems that the harvest is not running and it is marking as ready immediately after it is scheduled.
![Harvest-Start](https://user-images.githubusercontent.com/32297502/117106951-0f0f9d00-ad81-11eb-9dd6-8689113269ab.png)
![Harvest-Stop](https://user-images.githubusercontent.com/32297502/117106958-133bba80-ad81-11eb-9e18-6cde1b8bff

[2021-05-05 17:16] dartasensi commented on #35
Dear @bcosyn

thanks for reporting this.
I checked the latest successful harvest ([April 25th](https://inspire-geoportal.ec.europa.eu/sandbox/resources/INSPIRE-f0c91711-ece0-11e8-a08e-52540023a883_20210425-120002/services/1/PullResults/)) on disk and everything seems fine. It completed successfully, but I cannot find any trace of a publication request, so it could be a problem of request handling

[2021-05-05 17:17] dartasensi commented on #36
Dear @agiur

thanks for reporting this error.
I will try immediately to schedule a new harvest on your behalf.

[2021-05-05 20:29] dartasensi commented on #36
Dear @agiur

the harvest completed successfully. Please review it and feel free to report any anomalies.
Otherwise, I will close this issue in the next days.

Kind regards,
Davide

[2021-05-06 05:12] alitka commented on #28
Dear @dartasensi,

As I mentioned in the previous comment, I started a new harvest process on Monday whose estimated end time was scheduled for Tuesday. Today I check the status on the harvest console again and had to realize, that our running process has stopped instead of ending properly. Could you tell us please, what happened?

Beyond that, we would appreciate if you can change our end point U

[2021-05-06 05:26] agiur commented on #36
Dear @dartasensi
Thank you for your support, you can proceed to close the issue.
Kind Regards,
René

[2021-05-06 05:31] dartasensi commented on #28
Dear @alitka

Apologies for the inconvenience.
I saw the issue yesterday night, while checking the other harvests that were running.
Unfortunately the issue with your harvest session is still the disk space.
Now, on the technical details:
1. the Geoportal core software uses predefined paths that we cannot easily change, and the partition we are using now is already the biggest on the server disk.

[2021-05-06 05:57] alitka commented on #28
Dear @dartasensi
Thanks for your prompt response and the additional information. If I remember correctly, you also use GeoNetwork as your backend system for the INSPIRE Geoportal as well as we do. So I transferred the `technical details` to my colleagues, so that we can maybe support you to find the right threshold.
Kind regards.

[2021-05-06 07:18] dartasensi commented on #28
Dear @alitka

well, we are migrating toward GeoNetwork, but it is an on-going process and hopefully to be completed by the end of this year. At the moment, we do not use GN as backend. We are still relying on the pilot Geoportal software. Thanks anyway for your help and support.
I'm still waiting the end of the backup process (that we used to execute when the harvest has been published, like in yo

[2021-05-06 07:58] #36 closed, assigned to dartasensi

[2021-05-06 10:03] bcosyn commented on #35
Hi @dartasensi
Yesterday afternoon (05/05) I noticed that the Flemish results were published. This without any additional action from my side.

[2021-05-06 10:47] francois-collette opened #37 "INSPIRE Geoportal > Search > Duplicate metadata pages in search results"
Hi,

In Luxembourg data sets, one metadata appears twice in the search results.
The metadata concerned is titled "Land Parcel Identification System (LPIS) - Ecological Focus Areas (EFA) - Forrest edges".

![image](https://user-images.githubusercontent.com/83760086/117284464-21640680-ae67-11eb-9c0f-b23ad6d83b58.png)

Both pages have a very close but different URL :
- https://inspire-geoportal.ec.eu

[2021-05-06 17:15] dartasensi commented on #28
The backup finished few minutes ago. As per your request:

The HarvestConsole estimates the completion by Friday night.

Davide

[2021-05-07 09:42] dartasensi commented on #28
Dear @alitka

I've just found that my request completed already.
With your new endpoint, there is a significant reduction on record's total.
![image](https://user-images.githubusercontent.com/56717738/117430853-d4486900-af28-11eb-8b96-02fb76e398ae.png)
Obviously, recalling my previous comment on disk space, also its footprint dropped to ~182Gb.

Could you please verify if it is right and it matche

[2021-05-07 10:23] dartasensi commented on #35
Dear @bcosyn

This kind of actions are traced when an authorized user publish the selected harvest through HarvestConsole.
On our systems, it now results that:

_(login details obscured on purpose, but you should be able to recognize it)_
Do you recognize at least the timing of that publication request?
Have you probably tried again to publish, after your initial description here in GitHub? (dated

[2021-05-07 10:38] dartasensi commented on #37
Dear @francois-collette

I wouldn't remove the duplication, since it is the result of the harvest of your catalogue.
Indeed, the "tags" you mentioned highlights the fact that the discovery service delivered the same metadata in two of our batch (20 records) requests through a GetRecords operation.

Based on our experience, one potential solution is to disable the SortBy clause that we used to incl

[2021-05-07 11:01] francois-collette commented on #37
Hi Davide,

Thanks for this detailed feedback.
We will check the GeoNetwork version more closely.

One question remains:
You wrote that this issue is the result of the harvest of our catalog.
But, the duplication is not (or no more) present on our side.

Based on this observation, could you now manually remove the duplicate?
Or is there a solution in harvesting this topic one more time to get INSP

[2021-05-07 12:46] alitka commented on #28
Dear @dartasensi,
Unfortunately the among of metadata records doesn't match our expectation. Currently, we have 58.497 dataset, 528 series and 87.572 service metadata records in our catalogue. Also, we did an internal check of our system, but the whole time the endpoint was available. Could you try again a harvesting of our catalogue?
Thanks in advance and kind regards.

[2021-05-10 06:50] alitka commented on #37
Just as a little side node for @francois-collette (if you don't know this):
You can always check the duplicates from your catalogue with the INSPIRE Geoportal Proxy Browser ([Resource Browser](https://inspire-geoportal.ec.europa.eu/proxybrowser/#q=*%3A*))
* for Luxembourg > [filter of the "remote metadata identifier"](https://inspire-geoportal.ec.europa.eu/proxybrowser/#fq=sourceMetadataResourceLo

[2021-05-12 06:38] alitka commented on #5
Dear @dartasensi,
Just a little reminder for you, that we are still have an interest to compare your results with our findings.
Thanks and best regards!

[2021-05-12 06:47] alitka commented on #28
Dear @dartasensi,
Any news on the above circumstances? Have you already been able to start a new harvest on your internal server?
Kind regards.

[2021-05-14 05:28] alitka commented on #28
Dear @dartasensi,
The latest harvesting of our catalogue was successful. I've checked the results and everything is correct (no duplicates!). Therefore, I start the publishing of the results.
Kind regards.

[2021-05-25 06:55] bcosyn commented on #35
Hi Davide,

Really sorry for my late answer. Indeed I retried after May 4th and received the same answer. So your idea/explanation seems acceptable to me.
Anyhow finally everything was published. One of the coming days I will run a new harvest.

Regards
Bart

Van: Davide Artasensi ***@***.***>
Verzonden: Friday, 7 May 2021 12:24
Aan: INSPIRE-MIF/helpdesk-geoportal ***@***.***>
CC: Cosyn Bart ***@*

[2021-05-26 05:10] #28 closed

[2021-05-26 05:10] alitka opened #38 "DE: request for a new harvesting"
Dear Geoportal Helpdesk,

As mentioned in Roberts Mail from 2020/03/02 we would like to initiate a new push of our metadata records to the EU Geoportal. For this reason we kindly ask you to start a new harvesting of our catalogue instance and publish them for us in the Geoportal harvesting "sandbox", please.

Thanks in advance and best regards,

Anja (on behalf of Coordination Office SDI Germany)

[2021-05-27 14:38] alitka commented on #5
Dear @dartasensi,
We would appreciate if you would answer us.
Thanks and best regards.

[2021-05-27 14:55] dartasensi commented on #38
Dear @alitka

the script just finished to archive your previous harvest session, and now I will manually schedule a new one.
You should see it in the HarvestConsole in few minutes.

Regards,
Davide

[2021-05-28 04:55] alitka commented on #38
Dear @dartasensi,
Thanks for the update and yes, I can see in HarvestConsole that the harvest is ongoing and should be finished on May 29, 2021.
Best regards.

[2021-05-28 08:12] madlenkk opened #39 "CZ - New harvest not executed"
Dear Geoportal team,
I would like to report problem with the harvest console. I tried to run a new harvest of czech catalog few times since yesterday morning, but without success.

I push the button Schedule a new harvest at the Dashboard and then Proceed in Schedule a new harvest dialog. I got the email and the Status at the Dashboard correctly changes to: Scheduled Estimated start time*: N/A
![i

[2021-05-31 05:33] alitka commented on #38
Dear @dartasensi,
The harvesting of our catalogue was successful. I've checked the results and everything is correct (no duplicates!). Therefore, I started the publishing of the results.
Kind regards.

[2021-05-31 05:58] alitka commented on #39
Just a comment to the above described circumstances (malfunctions):
For Germany a harvest process ran from May 27, 2021 to May 29, 2021 and now the publication is running.
Could it be possible that other processes could not run at this time due to temporarily low disk space resources on the JRC site?

[2021-06-01 14:34] dartasensi commented on #39
Dear @madlenkk

I checked now, and all your harvest requests went into `/errors`.
Then I restarted the web application, and I scheduled a new request on your behalf.
When the Geoportal tries to obtain the first batch with a `GetRecords` request, your service replies:
[code]

Our current configuration on your endpoint doesn't present any default filter and I checked that the Geoportal doesn't send

[2021-06-01 14:35] dartasensi commented on #38
Thanks @alitka for the information. I will then close this request (issue).

Kind regards,
Davide

[2021-06-01 14:35] #38 closed, assigned to dartasensi

[2021-06-04 11:05] madlenkk commented on #39
Dear Davide,

thank you very much for your effort and reply! We fixed our catalogue service according to your recommendations and the harvest was already executed successfully.

Best regards,
Magdalena

[2021-06-04 11:06] #39 closed, assigned to dartasensi

[2021-06-09 14:27] dartasensi commented on #5
Dear @alitka

I would like to thank you again for the efforts spent in checking the MR2020 results.
As a result of this, we discovered this bug, and of course we are aware that it might have affected some indicators on the MR2020 run, even if in a "positive" way for all the Member States.
We would like to clarify that the bug consists in a wrong interpretation of the results available in that sect

[2021-06-11 08:55] laers commented on #23
We have migrated our INSPIRE download (Atom) to another webserver which use https://ftp... as protocol. It has the positive impact: Our INSPIRE Atom feeds is recognized as downloadable in the Geoportal.

[2021-06-11 08:55] #23 closed

[2021-06-14 05:25] alitka opened #40 "DE: request for a new harvesting"
Dear Geoportal Helpdesk,

As mentioned in Roberts Mail from 2020/03/02 we would like to initiate a new push of our metadata records to the EU Geoportal. For this reason we kindly ask you to start a new harvesting of our catalogue instance and publish them for us in the Geoportal harvesting "sandbox", please.

Thanks in advance and best regards,

Anja (on behalf of Coordination Office SDI Germany)

[2021-06-14 10:12] dartasensi commented on #40
Dear @alitka

the process of archiving your previous harvest has been started around ~10.00, and it is still running, As soon as it finished, I will be able to schedule the harvest.
I will update you soon.

KR,
Davide

[2021-06-14 19:35] dartasensi commented on #40
Dear @alitka

the archiving process ended successfully. I've just scheduled the harvest: ETA June 16th h10.55

KR,
Davide

[2021-06-14 22:11] #35 closed, assigned to dartasensi

[2021-06-15 10:24] wboersma opened #41 "Question use of metadata fileIdentifier in geoportal as identifier for linking"
Dear Geoportal Helpdesk,

In the Netherlands we have an INSPIRE register for all Dutch INSPIRE datasets (see https://inspireaanmerking.nl/aanmerkingsregister). In the register we link via the metadata fileIdentifier to the dataset in the national portal.

We would also like to link to the EU INSPIRE geoportal and also via the metadata fileIdentifier. In the current Geoportal a resource id is used,

[2021-06-16 15:21] dartasensi commented on #40
Dear @alitka

I'm looking at the logs right now, and it is moving toward the final post-processing phase (wrap-up of results about downloadable and viewable, cleanup of resources).
Scrolling back in the history, I didn't find any particular errors, just some slow replies and bottlenecks with some WMS services.
Again, I think it will finish soon, hopefully end of day.

Davide

[2021-06-17 09:28] alitka commented on #40
Dear @dartasensi,
I've checked the results and everything is correct (no duplicates!). Therefore, I started the publishing of the results.
Kind regards.

[2021-06-18 06:50] #40 closed, assigned to dartasensi

[2021-06-21 04:15] manilly opened #42 "AT: Harvesting in status running since 4 days"
Hi,
I tried to trigger a harvest last Thursday for the Austrian CSW. The status is till running.
Can you please investigate this?
Thanks, Manuel

[2021-06-22 14:47] bcosyn commented on #42
Same status issue for the BE/Flemish node since June 12.
![image](https://user-images.githubusercontent.com/13509656/122946001-48c05580-d379-11eb-9296-85476e3ca56d.png)

[2021-06-22 15:16] dartasensi commented on #42
Dear @bcosyn @manilly

thanks for reporting this. For (at the moment) unknown reasons (probably a race condition), both of your harvest sessions were completed, they successfully ended the [collect] and [analyse] phases but then failed the upload in the solr engine, resulting in each of them stuck while occupying an entire solr core (leaving only one available for harvest).
Now I restarted the mai

[2021-06-22 15:30] dartasensi commented on #42
Both rescheduled and running:
- **AT** // ETA today at ~16:30 GMT
- **BE Vlaanderen** // ETA June 26th at ~22:42 GMT

[2021-06-22 15:34] AntoRot opened #43 "IT: something wrong with the resources harvested by the national discovery service"
On June, 15 I performed a successful harvesting session from the Italian national discovery service and three days after (June, 18) I published the resources harvested.

Today I am noticing that the Italian discovery service is no longer included in the list in the ['Harvesting Status' page](https://inspire-geoportal.ec.europa.eu/harvesting_status.html) in the INSPIRE geoportal and that the number

[2021-06-22 16:45] dartasensi commented on #42
@manilly: your harvest is ready to be review. It seems valid to me, so I will proceed and close this issue.
@bcosyn: since the harvest of your endpoint used to take quite some time to complete, feel free to open a new issue if something's wrong.

KR,
Davide

[2021-06-22 16:45] #42 closed, assigned to dartasensi

[2021-06-22 16:46] dartasensi commented on #43
Dear @AntoRot

I will have a look. Probably the publishing of the harvest didn't complete correctly.

[2021-06-22 17:04] AntoRot commented on #43
Thank you @dartasensi!

Please also notice that the numbers of the resources currently published are also different from those shown in the image related to the harvest in April and that in the harvest console the harvest performed on June 15 is listed as the last successful execution.

[2021-06-22 17:53] dartasensi commented on #43
Yes, I'm using the results in /sandbox as reference.
Since it is now EOB, don't be scared but I removed the entire IT presence in the Geoportal, in order to restart the automatic publication of the harvest session from /sandbox.
Let's see if this would fix the error you reported.

[2021-06-22 18:31] dartasensi commented on #43
It seems solved.
The transfer from /sandbox was completed correctly. The harvest status page is restored and showing the correct date of publication, and now it is currently uploading and publishing all the records in the solr catalog (it will probably take few hours to complete).

[2021-06-22 19:35] #43 closed, assigned to dartasensi

[2021-06-22 19:36] AntoRot commented on #43
Thank you again @dartasensi!

[2021-06-24 09:55] idevisser opened #44 "Add organisation name in table with dataset issues"
Dear,

Monthly we distribute the list of datasets with issues during harvesting among our data providers. To give them more insight into the datasets that are not properly made available, the name of the responsible organization is included in the table of datasets with issues. Then it is immediately clear which organizations have to work to get their implementation in order.
In the monitoring rep

[2021-06-25 12:26] dartasensi commented on #41
Dear @wboersma

thank you for your comment.
We, as JRC INSPIRE team, had an internal discussion about your question.

The current geoportal indeed uses dedicated fileIdentifiers for records including a member state prefix.
The feature was designed to allow multiple MS to have an identical file identifier for a record while solving this id collision.
For the new edition of the geoportal we want to

[2021-06-28 05:12] alitka opened #45 "DE: request for a new harvesting"
Dear Geoportal Helpdesk,

As mentioned in Roberts Mail from 2020/03/02 we would like to initiate a new push of our metadata records to the EU Geoportal. For this reason we kindly ask you to start a new harvesting of our catalogue instance and publish them for us in the Geoportal harvesting "sandbox", please.

Thanks in advance and best regards,

Anja (on behalf of Coordination Office SDI Germany)

[2021-06-28 09:24] Privatmijoha opened #46 "Please publish correct harvesting results for SE"
SE published June 22 our harvesting executed on June 20, 20:04:02, but now something wrong and old is listed in the portal as result from SE. Please publish our harvesting result from the harvesting executed  2021-06-20 20:04:02. The old and wrong result is not even from our previous harvest - it is something really wrong. SE is not even listed in the harvesting status list any longer!
Se attached

[2021-06-29 14:47] dartasensi commented on #45
Dear @alitka

the archive processing of your latest harvest (that you also published) took the whole yesterday, so I managed to schedule the harvest only few minutes ago and it's now running. Apologies for the inconvenience.

KR,
Davide

[2021-06-30 14:25] dartasensi commented on #46
Dear @Privatmijoha

I have been forced to delete the data related to the published harvest in order to solve this anomaly. Now it's running the script to publish again the results of the selected harvest (2021-06-20 20:04:02)
I will let you know when the situation is restored.

KR,
Davide

[2021-06-30 15:04] dartasensi commented on #46
Dear @Privatmijoha

the issue seems solved, and the numbers now match.
Please, review it and let me know if problems still remains. Otherwise I'm willing to close this issue.

Regards,
Davide

[2021-07-01 07:37] alitka commented on #44
We would appreciate it if additional information could be added to the list with incorrect records.
It would be very helpful for us as well to have the organization name listed in the tabled error reports from the harvesting. This also applies to the metadata error tables, which are provided together with the monitoring results in the harvest console.

In addition, we would have further requiremen

[2021-07-01 11:31] Privatmijoha commented on #46
Looks fine!
Thank you @dartasensi.

Kind regards,
Mikael

[2021-07-01 11:31] #46 closed, assigned to dartasensi

[2021-07-03 12:19] marcingrudzien opened #47 "Harvesting issue"
Hi,

I tried to harvest from PL CSW endpoint. I noticed discrepancies in the number of harvested metadata records: 368 records were harvested, yet the catalogue contains 418 records.

After further investigation, I noticed that there is a problem with the second metadata package (records form 51 to 100) https://inspire-geoportal.ec.europa.eu/sandbox/resources/INSPIRE-d81e48c4-b4cf-11e3-a455-525400

[2021-07-06 13:01] marcingrudzien commented on #47
I repeated the harvest twice, and after the final run, there were no issues.

[2021-07-06 13:02] #47 closed, assigned to nobody

[2021-07-08 10:57] alitka commented on #45
Dear @dartasensi,
The harvesting of our catalogue was successful. We've checked the results and everything is correct (no duplicates!). Therefore, we started the publishing of the results.
Kind regards.

[2021-07-08 10:57] #45 closed, assigned to dartasensi

[2021-07-08 11:49] wboersma commented on #41
Dear @dartasensi,

Thanks for your reply. We have discussed your question.

In geonetwork, which most MS use, it is not possible to have the same file identifier. Also according to the CSW standard this is probably not allowed (but we have not checked this in the standard). The member states offer 1 discovery service per member state (with exceptions) (usually from GN). So we don't easily see a pr

[2021-07-09 15:53] MarisolGomezAndres opened #48 "INSPIRE GEOPORTAL doesn`t recognize SDI Digital certificate- SPAIN"
There is a problem in recognising our SDI certificate from FNMyT as a valid Authorisation Entity and that´s the reason by our metadata and services are not validated and visualized in the INSPIRE Geoportal. Therefore, the FNMyT Certification Authoritie shoud be included as a valid Authorisation Entity. We have analysed the validation errors and discover that the Geoportal INSPIRE doesn´t recognise

[2021-07-13 05:07] alitka opened #49 "DE: request for a new harvesting"
Dear Geoportal Helpdesk,

As mentioned in Roberts Mail from 2020/03/02 we would like to initiate a new push of our metadata records to the EU Geoportal. For this reason, we kindly ask you to start a new harvesting of our catalogue instance and publish them for us in the Geoportal harvesting "sandbox", please.

Thanks in advance and best regards,

Anja (on behalf of Coordination Office SDI Germany)

[2021-07-13 08:35] vbombaerts commented on #4
Dear @dartasensi,

Could you please consider reopening this issue as we have additional information on it.

We checked the declatation of Annex 2 keywords in the metadata and it was OK.
We checked the declaration of conformity regarding regulation 1089/2010 and it was OK.
We validated the metadata against the validator and it was OK.
But still our DSi2.1 was at 0%.

So we went on with the tests an

[2021-07-13 08:35] vbombaerts commented on #3
Dear @dartasensi,

Could you please consider reopening this issue as we have additional information on it.

We checked the declaration of conformity for the discovery service regarding regulation 976/2009 and it was OK.
We validated the metadata against the validator and it was OK.
But still our NSi4.1 was at 0%.

So we went on with the tests and we discovered that the presence of a Temporal Exten

[2021-07-13 08:52] vbombaerts commented on #4
See also #3

[2021-07-13 08:53] vbombaerts commented on #3
See also #4

[2021-07-14 11:56] ghost commented on #4
@vbombaerts

I didn't check your problem but it could be connected to GML Version. INSPIRE Validator accepts 3.2.1 and 3.2 (https://github.com/inspire-eu-validation/metadata/blob/2.0/common/xml-schema.md). In your metadata record you are using 3.2. - `xmlns:gml="http://www.opengis.net/gml/3.2"`

Maybe you could change GML Version encoding in the metadata record to 3.2.1 and check if it makes any d

[2021-07-19 08:44] alitka commented on #49
Dear @dartasensi,
We noticed, that you started a new harvest process on Wednesday (2021-07-14) whose estimated end time was scheduled for Friday night. After an internal check, we have determined that the harvest process don't run any more. So we check the status on the harvest console and had to realize, that our process is still ongoing instead of being properly finished. Could you tell us, plea

[2021-07-21 16:11] dartasensi commented on #48
Dear @MarisolGomezAndres

apologies for the delay, but I was quite busy on other activities.

So, I finally had time to analyse the harvest of the ES endpoint, both on my local machine and production.

This is what I found:

1. misconfigured certificates on your side. This occurs when a wrong certificate is applied to an endpoint or such certificate was generated with wrong parameters (ie. `Subjec

[2021-07-21 16:18] dartasensi commented on #49
Dear @alitka

apologies for the delay, I was quite busy with other activities.
I will have a look asap and keep you posted.

Davide

[2021-07-22 07:22] fxprunayre commented on #4
And what about the tools computing indicators ?
Any code or indicator computing rules to share to check this ?

I think http://www.opengis.net/gml/3.2 is 3.2.1. See
* http://schemas.opengis.net/iso/19139/20060504/gco/basicTypes.xsd = xmlns:gml="http://www.opengis.net/gml" = 3.2.0
* http://schemas.opengis.net/iso/19139/20070417/gco/basicTypes.xsd = xmlns:gml="http://www.opengis.net/gml/3.2 = 3.2.1

[2021-07-22 09:15] alitka commented on #6
Dear @dartasensi ,
The issue is still present. For all three input types, I get the message: `The system is handling your request. Please wait...`
Could you please check, for what reason, the Resource linkages checker tool can't process the linkage assessment requests?
Thanks in advance and kind regards.

[2021-07-22 09:37] vbombaerts opened #50 "BE-WAL : conformity indicators and temporal extent"
Dear helpdesk,

We are experiencing problems with the conformity of datasets and services indicators when we declare a Temporal Extent in the metadata.
We explain this in the original tickets #3 and #4. Could you please consider reopening it ? Thank you.

[2021-07-22 12:08] MarisolGomezAndres commented on #48
Dear Davide:

Thanks for your email.
Attached you can find our comments:

1.       Any of these names are included in the certificate:

a.       https://www.magrama.gob.es/ Out of date, it shouldn´t be used.  The right names are  www.mapa.gob.es<http://www.mapa.gob.es> o www.miteco.gob.es<http://www.miteco.gob.es> y www.mapama.gob.es<http://www.mapama.gob.es>

     *   https://www.catastro.minhap.

[2021-07-22 12:13] ghost commented on #4
@fxprunayre @vbombaerts I hope someone from JRC can answer your questions...

P.S.
In your case I wouldn't downgrade all records before it is clear what is the problem here. My idea was to change only one record and check if indicator changes in order to check if tool for computing monitoring indicators supports only specific GML version(s)... Sorry if I made it more complicated than it was before

[2021-07-22 17:31] dartasensi commented on #48
Thanks @MarisolGomezAndres for your prompt reply.

Before going into the matter, I would suggest you to reply directly here, in Github web UI, since their email feature offers limited support (eg. lack of text formatting support, it doesn't publish email attachments for security reasons).

Regarding this issue, I will again offer my availability for a bilateral meeting, to share our opinions and p

[2021-07-26 07:15] alitka commented on #49
Dear @dartasensi
We would appreciate it if you could start a new harvesting process, as the results of the last harvesting process are already two weeks old and have never been made available to us in the Geoportal harvesting "sandbox".
Thanks in advance and best regards.

[2021-07-26 15:20] dartasensi commented on #49
Dear @alitka

I would really like to. Unfortunately, I can not.

As you may have noticed, I launched a harvest on Friday late aft, expecting to see the results this morning. Instead, (**again**), I found at least one thread locked up on some resources, so the entire harvest process is waiting for this task to finish.
Since this process worked until now, I have the suspicion that there's something

[2021-07-27 13:31] alitka commented on #49
Dear @dartasensi
After checking our systems, we found that our (nginx) web server was causing some problems on Saturday, which is why you have to restart the harvest anyway. Furthermore, we would prefer it if you could limit the harvesting to weekdays (until mid-September) since our system load is very high on the weekends due to internal harvesting processes.
Thanks in advance and best regards.

[2021-08-02 07:41] dartasensi commented on #49
Dear @alitka

(hoping to find you well) would be it now a good moment to give Geoportal another try? :)
I'll do my best to monitor this issue, then schedule it, monitor it and make it work flawlessly.

Many thanks for your patience.

BR,
Davide

[2021-08-03 08:29] dartasensi commented on #49
I will try to run the harvest locally on my machine, to assess that at least the issue is not coming from a bug on Geoportal source code. ;)

[2021-08-04 13:56] dartasensi commented on #50
Dear @vbombaerts

I need to give it a more accurate look, but I read all your comments and I suppose they're bugs, so I will surely fix them.
In the meantime, I would like to thank you: I really appreciate your efforts in the analysis of this issue.

KR,
Davide

[2021-08-04 14:03] dartasensi opened #51 "[CY] HarvestConsole cannot schedule the harvest"
[From email]

Dear all,

I am trying to run a new harvest for my country, but although I receive an email stating that my harvest session has been successfully accepted, I end up with this message and a failure to do so.

![,DanaInfo=](https://user-images.githubusercontent.com/56717738/128194535-9d5ffbb9-fce4-47d8-979a-969c38db9f5c.jpg)

Any feedback on this?

It seems that nothing is blocked from

[2021-08-09 05:58] alitka commented on #49
Dear @dartasensi,
Just a question: did you already start a harvest process locally on your machine, as we couldn't see any actions on our systems over the last week. I would be glad to get a quick reply.
Best regards.

[2021-08-12 11:54] dartasensi commented on #51
Dear Klito,

The issue seems to involve a strange behaviour of your service regarding session cookies.
Your discovery endpoint doesn't accept any first request (returning 500 error), and it handles correctly only after receiving the JSESSIONID cookie within the requests. For example, you can test this behaviour by using a Incognito session in your browser. At first try, you will always receive a 5

[2021-08-12 11:54] #51 closed, assigned to dartasensi

[2021-08-12 16:46] dartasensi commented on #49
Dear @alitka

apologies for the late reply.
Indeed you're right: I ran some test on your services (not the Discovery Service, since I had already your catalogue stored on my machine) few weeks ago but now I'm on vacation :) so I will surely test it as soon as I will come back to the office.

Cheers,
Davide

[2021-08-13 06:43] marcingrudzien opened #52 "Resource linkages checker tool problem"
Hi,

I am trying to use the Resource linkages checker tool https://inspire-geoportal.ec.europa.eu/linkagechecker.html. I select "INSPIRE metadata XML content" for all 3 metadata types and copy/paste relevant metadata contents, then press the "Check Resources" button.

Almost immediately after I receive an error **The request had an error! Please try again later or contact the support**

Request se

[2021-08-23 06:50] alitka commented on #52
Related to issue #6 - Resource linkages checker tool > 'The system is handling your request. Please wait...'

[2021-08-23 08:55] marcingrudzien commented on #52
The problem has been resolved in the meantime. For few days the tool has been working ok.

[2021-08-26 09:26] vbombaerts commented on #50
@dartasensi Any news regarding the problem ?

[2021-09-03 07:00] alitka commented on #49
Dear @dartasensi,
It would be great, if you could start a harvest process locally on your machine next week. We have been waiting for already more than two months to get a “refresh” of our records.
Thanks in advance and best regards.

[2021-09-07 11:04] MarisolGomezAndres commented on #48
Dear Davide:

I hope you enjoyed the summer holidays.

We have solved the points 1 and 3 of your email but we still doesn´t view our WMS and downloads in the Inspire Geoportal. As you can see we have 91 datasets but only 39 downloads and 5 WMS.

***@***.***

Please let us know any further steps.

Kind regads

Marisol Gómez Andrés
Information Technology and Communication Department
Web and GIS serv

[2021-09-08 10:32] ghost opened #53 "INSPIRE Discovery CSW 2.0.2 is not INSPIRE compliant"
INSPIRE Discovery Service (https://inspire-geoportal.ec.europa.eu/GeoportalProxyWebServices/resources/OGCCSW202?REQUEST=GetCapabilities&SERVICE=CSW&version=2.0.2) is not INSPIRE compliant.

- Report from INSPIRE Validator:
[Report.zip](https://github.com/INSPIRE-MIF/helpdesk-geoportal/files/7128104/Report.zip)

- Screenshot: ![image](https://user-images.githubusercontent.com/38787131/132493032-c25

[2021-09-08 11:09] ghost commented on #41
Interesting discussion here!

I had similar problem to return individual metadata record which is existent in our catalogue with unique `fileIdentifier` encoded as UUID as suggested in "Technical Guidance for the implementation of INSPIRE dataset and service metadata based on ISO/TS 19139:2007".

Although I didn't want to return HTML representation of the metadata record in INSPIRE-Geoportal as @w

[2021-09-08 11:21] ghost commented on #41
@wboersma Do you know if `ressourceID` (see URL above) is persistent or it is changed (could be changed) every time during the harvesting process? If resourceId is not persistent than your solution probably will not work after next harvesting process...

[2021-09-13 10:25] gdi-de-sara opened #54 "DE: request for a new harvesting"
Dear Geoportal Helpdesk,

can you please start a new harvesting of our catalogue instance and publish them for us in the Geoportal harvesting "sandbox". The last harvesting process was more than 2 months ago. We actually wanted a harvest every 2 weeks. My colleague Mrs. Litka had contact with Davide (https://github.com/INSPIRE-MIF/helpdesk-geoportal/issues/49). But unfortunately nothing has happen

[2021-09-13 11:50] trodin opened #55 "INSPIRE Geoportal Harvesting Console"
Hello, can you please provide me an access to harvest console?
Name:Tanja Rodin
Country: Croatia
Mail: tanja.rodin@dgu.hr
Regards,
Tanja

[2021-09-14 06:07] dartasensi commented on #49
Dear @alitka

Apologies for the delay due to the summer break.
I've just restored my local installation of Geoportal and now it is up and running.
In order to assess if the issue is still present, I scheduled and started a harvest on my machine, yesterday, around 16.09.
At the moment, it is still running smooth.

KR,
Davide

[2021-09-14 06:10] dartasensi commented on #54
Dear Sara,

Apologies for the delay due to the summer break.
I managed to start (yesterday, around 16.09) a new harvest on my local machine.
Since the latest two attempts failed and, as you correctly stated, time passed by, I would prefer to see if the issue is still present, and tackle it immediately (in order to include this into the hotfix package we want to deliver soon).
At the moment, it is

[2021-09-14 06:34] gdi-de-sara commented on #54
Dear Davide,

thank you. I hope it goes through now.

Kind regards,
Sara

[2021-09-14 10:40] wboersma opened #56 "INSPIRE Geoportal has a bug when you click on a country in country overview"
Hello,

The INSPIRE Geoportal has a bug when you click on a country in country overview. This applies all entrances (thematic viewer, PDS viewer, legislation). Can you check what goes wrong.
Error message is:
!
The page you were looking for appears to have been moved, deleted or does not exist in the INSPIRE Geoportal.

Best regards, Wideke

[2021-09-16 15:03] wboersma commented on #56
It is working normally again

[2021-09-16 15:03] #56 closed, assigned to nobody

[2021-09-19 19:24] MartinTuchyna commented on #12
Dear all,
any update on the possible Geoportal support for WCS?
Thanks, Martin

[2021-09-20 13:30] SaGeissler commented on #54
Hi Davide,
following up on Sara's harvesting request of last week. Did you discover any issues during your attempt or was it successful?
What are the next steps in order to get updated information of our indicators as soon as possible?
Sabine

[2021-09-24 12:45] LauraAlemany opened #57 "Geoportal doesn't display the download services of our datasets"
Hello,

The Geoportal does not display the download services linked to some of our datasets.
In the image below you can see an example of the [Addresses of DG Cadastre. Spain](https://inspire-geoportal.ec.europa.eu/download_details.html?view=downloadDetails&resourceId=%2FINSPIRE-c6f329a0-4c3d-11e7-9e8f-52540023a883_20210609-080802%2Fservices%2F1%2FPullResults%2F21-40%2Fdatasets%2F12&expandedSectio

[2021-10-01 17:15] jescriu commented on #3
Dear @stephyritz and @vbombaerts,

As per the information and the evidences you provided in this GitHub thread, we will need to revisit what seems a common issue in the INSPIRE Geoportal when performing the calculation of the NSi4.1 indicator (to be studied if affecting any other indicators as well), where the TemporalExtent is somehow affecting the parsing of XML metadata files.

Particularly we

[2021-10-01 17:19] jescriu commented on #4
Dear @stephyritz and @vbombaerts,

As per the information and the evidences you provided in this GitHub thread, we will need to revisit what seems a common issue in the INSPIRE Geoportal when performing the calculation of the DSi2.2 indicator (to be studied if affecting any other indicators as well), where the TemporalExtent is somehow affecting the parsing of XML metadata files.

Particularly we

[2021-10-01 17:23] jescriu commented on #50
Dear @vbombaerts,

We double-checked the metadata files provided in #3 and #4, and they are correct.

As a result we reopened both issues, for which we will provide a fix as soon as possible.

[2021-10-01 17:23] #50 closed, assigned to dartasensi

[2021-10-19 13:14] MartinTuchyna opened #58 "Availability of the INSPIRE priority datasets list"
Dear all,

could it be possible to share the link for the last version of the INSPIRE priority datasets list?

Url, we have been using seems to be not anymore available:
https://ies-svn.jrc.ec.europa.eu/projects/2016-5/wiki/PriorityList

Thanks, Martin

[2021-10-19 13:22] hogredan commented on #58
Dear Martin,

you can find the recent version of the INSPIRE priority data sets list in the new repository of Action 2.1:
https://github.com/INSPIRE-MIF/need-driven-data-prioritisation/tree/main/documents

[2021-10-19 15:01] MartinTuchyna commented on #58
Dear Daniela,

thanks a lot for the reference.

[2021-10-19 15:01] #58 closed, assigned to nobody

[2021-10-19 16:26] MarcoMinghini commented on #58
Thanks @hogredan for the reply.

All: please note that a dedicated GitHub repository (under this same space) was created to manage the activities of Action 2.1: https://github.com/INSPIRE-MIF/need-driven-data-prioritisation

[2021-10-19 18:11] MartinTuchyna commented on #58
Great,
thanks @MarcoMinghini
Bookmarks and links updated ;o)

[2021-10-29 15:25] dartasensi commented on #55
Done

[2021-10-29 15:25] #55 closed, assigned to dartasensi

[2021-11-04 21:08] AntoRot opened #59 "Download services not displayed in the INSPIRE geoportal"
We encountered the error reported in the issue #57, e.g. for the dataset with the title "Ciclovia tirrenica".
Also in this case the Resource linkage checker tool returns the same error, i.e.

![immagine](https://user-images.githubusercontent.com/7059416/140419609-0f2fcd50-d59d-48e6-8b75-db26a6771e58.png)

although dataset and services metadata are successfully validated with the INSPIRE Reference

[2021-11-09 13:13] JohannaOtt commented on #52
Happened to me in Firefox today - tried with Chrome afterwards, that worked.

[2021-11-09 13:24] MartinTuchyna opened #60 "National discovery service endpoint filter update"
Dear EC INSPIRE team,

could you please navigate us, how and with whom, we can consult an update of the EC Geoportal OGC filter
for Slovakian national discovery service?

Thank you,
on behalf of SK INSPIRE team
Martin T.

[2021-11-09 13:25] MartinTuchyna opened #61 "ETS/Calculation for the INSPIRE monitoring indicators on EC Geoportal + dependences between indicators groups and indicators calculations and relevant tests."
Dear EC INSPIRE team,

could you please share detailed documentation / executable test suite, how INSPIRE monitoring indicators are calculated after the harvesting the metadata from the national discovery service?

When executing the INSPIRE monitoring indicators calculations, are there some dependences between exection of the tests and calculation of the indicators as in indicators groups level (

[2021-11-09 13:27] MartinTuchyna opened #62 "INSPIRE linkage checker API and its linkage / usage to calculate monitoring indicators"
Dear EC INSPIRE team,

is there an possibility to access the INSPIRE linkage checker
https://inspire-geoportal.ec.europa.eu/linkagechecker.html
via API?
If yes is any documentation (e.g. Swagger) available which could be used to test it?

Thank you,
on behalf of SK INSPIRE team
Martin T.

[2021-11-09 13:31] MartinTuchyna opened #63 "Stucked harvest 4 SK CSW @ EC GP Harvester"
Dear EC INSPIRE team,

- [ ] a description of the steps to reproduce your issue

could you please check the lastest harvest of SK discovery service?

We have initiated harvest yesterday morning, but there is no progress visible so far.

- [ ] the browser and version used

Firefox 94.0.1

- [ ] a screenshot illustrating the problem

![obrázok](https://user-images.githubusercontent.com/6195936/14093

[2021-11-09 13:40] JohannaOtt opened #64 "DK: Linkage checker fails even though metadata validates successfully with INSPIRE validator"
I used the linkage checker for metadata of a dataset and the linkage aspect "A Download link has been determined" failed. In the info box next to it, users are asked to open an issue if the linkage aspect fails but the data successfully validates in the INSPIRE validator. This is the case.
![grafik](https://user-images.githubusercontent.com/34163838/140932946-5312ef65-83b4-4861-8b9b-1a778e67a98b.p

[2021-11-10 16:49] jrc-inspire commented on #1
As reported during the 67th MIG-T Meeting, the INSPIRE Geoportal is currently in a transition phase for the adoption of a fully-redesigned backend based on GeoNetwork. For this reason, we will limit the bug-fix/improvement actions on the current Geoportal to those issues having the highest impact and that can be addressed with the available resources.
However, we have taken note of the potential i

[2021-11-10 16:52] jrc-inspire commented on #5
As reported during the 67th MIG-T Meeting, the INSPIRE Geoportal is currently in a transition phase for the adoption of a fully-redesigned backend based on GeoNetwork. For this reason, we will limit the bug-fix/improvement actions on the current Geoportal to those issues having the highest impact and that can be addressed with the available resources.
However, we have taken note of the potential i

[2021-11-10 16:53] jrc-inspire commented on #6
As reported during the 67th MIG-T Meeting, the INSPIRE Geoportal is currently in a transition phase for the adoption of a fully-redesigned backend based on GeoNetwork. For this reason, we will limit the bug-fix/improvement actions on the current Geoportal to those issues having the highest impact and that can be addressed with the available resources.
However, we have taken note of the potential i

[2021-11-10 16:59] jrc-inspire commented on #13
As reported during the 67th MIG-T Meeting, the INSPIRE Geoportal is currently in a transition phase for the adoption of a fully-redesigned backend based on GeoNetwork. For this reason, we will limit the bug-fix/improvement actions on the current Geoportal to those issues having the highest impact and that can be addressed with the available resources.
However, we have taken note of the potential i

[2021-11-10 17:00] jrc-inspire commented on #19
As reported during the 67th MIG-T Meeting, the INSPIRE Geoportal is currently in a transition phase for the adoption of a fully-redesigned backend based on GeoNetwork. For this reason, we will limit the bug-fix/improvement actions on the current Geoportal to those issues having the highest impact and that can be addressed with the available resources.
However, we have taken note of the potential i

[2021-11-10 17:08] jrc-inspire commented on #20
We have taken note of the potential issue in the current INSPIRE Geoportal, which share certain commonalities with other issues where the nature of INSPIRE services are not properly recognized by the current INSPIRE Geoportal ([#20](https://github.com/INSPIRE-MIF/helpdesk-geoportal/issues/20), [#22](https://github.com/INSPIRE-MIF/helpdesk-geoportal/issues/22), [#34](https://github.com/INSPIRE-MIF/

[2021-11-10 17:11] jrc-inspire commented on #22
We have taken note of the potential issue in the current INSPIRE Geoportal, which share certain commonalities with other issues where the nature of INSPIRE services are not properly recognized by the current INSPIRE Geoportal ([#20](https://github.com/INSPIRE-MIF/helpdesk-geoportal/issues/20), [#22](https://github.com/INSPIRE-MIF/helpdesk-geoportal/issues/22), [#34](https://github.com/INSPIRE-MIF/

[2021-11-10 17:13] jrc-inspire commented on #34
We have taken note of the potential issue in the current INSPIRE Geoportal, which share certain commonalities with other issues where the nature of INSPIRE services are not properly recognized by the current INSPIRE Geoportal ([#20](https://github.com/INSPIRE-MIF/helpdesk-geoportal/issues/20), [#22](https://github.com/INSPIRE-MIF/helpdesk-geoportal/issues/22), [#34](https://github.com/INSPIRE-MIF/

[2021-11-10 17:17] jrc-inspire commented on #59
We have taken note of the potential issue in the current INSPIRE Geoportal, which share certain commonalities with other issues where the nature of INSPIRE services are not properly recognized by the current INSPIRE Geoportal ([#20](https://github.com/INSPIRE-MIF/helpdesk-geoportal/issues/20), [#22](https://github.com/INSPIRE-MIF/helpdesk-geoportal/issues/22), [#34](https://github.com/INSPIRE-MIF/

[2021-11-10 17:19] jrc-inspire commented on #21
We have taken note of the potential issue in the current INSPIRE Geoportal, which share certain commonalities with other issues where the nature of INSPIRE services are not properly recognized by the current INSPIRE Geoportal ([#20](https://github.com/INSPIRE-MIF/helpdesk-geoportal/issues/20), [#22](https://github.com/INSPIRE-MIF/helpdesk-geoportal/issues/22), [#34](https://github.com/INSPIRE-MIF/

[2021-11-10 17:29] jrc-inspire commented on #60
As reported during the 67th MIG-T Meeting, the INSPIRE Geoportal is currently in a transition phase for the adoption of a fully-redesigned backend based on GeoNetwork. For this reason, we will limit the bug-fix/improvement actions on the current Geoportal to those issues having the highest impact and that can be addressed with the available resources.
Because of the late receipt of this request, w

[2021-11-10 17:33] jrc-inspire commented on #61
As reported during the 67th MIG-T Meeting, the INSPIRE Geoportal is currently in a transition phase for the adoption of a fully-redesigned backend based on GeoNetwork. For this reason, we will limit the bug-fix/improvement actions on the current Geoportal to those issues having the highest impact and that can be addressed with the available resources.
Despite the late receipt of this request, we w

[2021-11-10 17:49] jrc-inspire commented on #63
As reported during the 67th MIG-T Meeting, the INSPIRE Geoportal is currently in a transition phase for the adoption of a fully-redesigned backend based on GeoNetwork. For this reason, we will limit the bug-fix/improvement actions on the current Geoportal to those issues having the highest impact and that can be addressed with the available resources.
Despite the late receipt of this issue, we hav

[2021-11-10 17:56] jrc-inspire commented on #62
We regret to inform you that there is no API access available for using the current Linkage checker.
As reported during the 67th MIG-T Meeting, the INSPIRE Geoportal is currently in a transition phase for the adoption of a fully-redesigned backend based on GeoNetwork. For this reason, we will limit the bug-fix/improvement actions on the current Geoportal to those issues having the highest impact a

[2021-11-10 18:04] jrc-inspire commented on #64
As reported during the 67th MIG-T Meeting, the INSPIRE Geoportal is currently in a transition phase for the adoption of a fully-redesigned backend based on GeoNetwork. For this reason, we will limit the bug-fix/improvement actions on the current Geoportal to those issues having the highest impact and that can be addressed with the available resources.
Despite the late receipt of this potential iss

[2021-11-11 08:36] jrc-inspire commented on #54
We inform you that we are currently working in analyzing and addressing this issue, which has been identified as having a high priority considering its impact, with the aim of solving it in time for the upcoming INSPIRE Monitoring.

We will approach you with more information as soon as possible.

As reported during the 67th MIG-T Meeting, the INSPIRE Geoportal is currently in a transition phase fo

[2021-11-11 08:37] jrc-inspire commented on #49
Duplicate of #54.
Hence, this issue will be addressed as part of issue [#54](https://github.com/INSPIRE-MIF/helpdesk-geoportal/issues/54)

[2021-11-11 09:00] #49 closed, assigned to dartasensi

[2021-11-11 09:02] jrc-inspire commented on #3
We inform you that we are currently working in analyzing and addressing this issue, which has been identified as having a high priority considering its impact, with the aim of solving it in time for the upcoming INSPIRE Monitoring.

We will approach you with more information as soon as possible.

As reported during the 67th MIG-T Meeting, the INSPIRE Geoportal is currently in a transition phase fo

[2021-11-11 09:03] jrc-inspire commented on #4
We inform you that we are currently working in analyzing and addressing this issue, which has been identified as having a high priority considering its impact, with the aim of solving it in time for the upcoming INSPIRE Monitoring.

We will approach you with more information as soon as possible.

As reported during the 67th MIG-T Meeting, the INSPIRE Geoportal is currently in a transition phase fo

[2021-11-11 09:10] jrc-inspire commented on #52
@marcingrudzien - Did the use of the Chrome browser solved this issue, as @JohannaOtt suggested?
If this is the case, we will proceed to close the issue.

[2021-11-11 09:15] jrc-inspire commented on #12
As reported during the 67th MIG-T Meeting, the INSPIRE Geoportal is currently in a transition phase for the adoption of a fully-redesigned backend based on GeoNetwork. For this reason, we will limit the bug-fix/improvement actions on the current Geoportal to those issues having the highest impact and that can be addressed with the available resources.
Therefore, we will consider your request in th

[2021-11-11 09:19] jrc-inspire commented on #24
@IvaGasparovic - Did the suggestion from @alitka help in solving your issue?
If this is the case, we will proceed to close it.

[2021-11-11 09:38] jrc-inspire commented on #37
@francois-collette - As per the current harvesting, the duplicate record you mentioned does not appear any more in the INSPIRE Geoportal.
If you do not have any remaining question, we would propose to close this issue.
Please, let us know.

[2021-11-11 10:04] jrc-inspire commented on #44
As reported during the 67th MIG-T Meeting, the INSPIRE Geoportal is currently in a transition phase for the adoption of a fully-redesigned backend based on GeoNetwork. For this reason, we will limit the bug-fix/improvement actions on the current Geoportal to those issues having the highest impact and that can be addressed with the available resources.
Therefore, we will consider your enhancement r

[2021-11-11 10:39] alitka commented on #5
In our opinion, this issue or bug isn't related to the INSPIRE Geoportal. As Davide wrote `that the bug consists in a wrong interpretation of the results available in [the conformity statement] section [...]`. Therefore, it has to be fixed for the MR2021, otherwise it will lead to incorrect results for the indicators DSi2.x and NSi4.x.

[2021-11-11 13:01] IvaGasparovic commented on #24
The problem was solved some time ago, so please close the issue.

[2021-11-11 13:32] #24 closed

[2021-11-12 16:16] jrc-inspire commented on #53
The current INSPIRE Geoportal neither officially offers any CSW service nor APIs to access and use the content in its database.

As reported during the 67th MIG-T Meeting, the INSPIRE Geoportal is currently in a transition phase for the adoption of a fully-redesigned backend based on GeoNetwork. Offering an INSPIRE compliant INSPIRE Geoportal CSW service will be considered as part of the evolution

[2021-11-12 16:16] #53 closed, assigned to nobody

[2021-11-15 06:32] manilly opened #65 "AT: Harvesting problems / download links recognition"
Hi,
we (AT) triggered a harvesting on Thursday wich seems to be stuck. Could you please have a look into this?
Thanks,, Manuel

![image](https://user-images.githubusercontent.com/45065613/141733330-21eabca0-2779-4f09-806e-7ca2c3961e68.png)

[2021-11-15 11:18] agesild opened #66 "EE: Geoportal Harvest Problem"
Dear helpdesk-geoportal,

The Discovery service harvest seems to be stalled:

- [Started harvest on fridy 12.11, but on monday Status still "Estimated start time..."]
a description of the steps to reproduce your issue
- [ Chrome ]
the browser and version used
- [ ![image](https://user-images.githubusercontent.com/16571419/141769746-3ba11230-c6c9-47f9-b26f-0c1f4fbe7990.png)]
 a screenshot illustrat

[2021-11-16 09:39] dfurtado-dgt opened #67 "PT: Geoportal harvesting problem"
Dear INSPIRE Team,

Could you please check the lastest harvest of Portugal, because the service harvest seems to be stalled.
![PT-HarvestingProblem](https://user-images.githubusercontent.com/76490621/141960046-6129d200-9561-4f6d-9f22-4111bd59f047.png)

Best regards.

[2021-11-17 15:04] jescriu commented on #63
Dear @MartinTuchyna ,
We restarted the INSPIRE Geoportal services and manually executed the harvesting from the SK endpoint, which seem to be successful.
Please, check and let us know in order to close this issue.

[2021-11-17 15:06] jescriu commented on #60
Dear @MartinTuchyna ,
We updated the INSPIRE Geoportal with the new OGC filter you sent us.
Please check if it runs as expected.
If this is the case we will close this issue.

[2021-11-17 15:07] jescriu commented on #65
Dear @manilly,
We restarted the INSPIRE Geoportal services and manually executed the harvesting from the AT endpoint, which seem to be successful.
Please, check and let us know in order to close this issue.

[2021-11-17 15:08] jescriu commented on #67
Dear @dfurtado-dgt,
We restarted the INSPIRE Geoportal services and manually executed the harvesting from the PT endpoint, which seem to be successful.
Please, check and let us know in order to close this issue.

[2021-11-17 15:10] jescriu commented on #63
Please see also #60.

[2021-11-17 16:39] dfurtado-dgt commented on #67
Dear Jordi,

Thanks for your help.
I confirm that the harvesting was successfully performed and everything is working correctly.

Best regards.
Danilo Furtado

From: Jordi Escriu ***@***.***>
Sent: 17 de novembro de 2021 15:09
To: INSPIRE-MIF/helpdesk-geoportal ***@***.***>
Cc: Danilo Nunes Furtado ***@***.***>; Mention ***@***.***>
Subject: Re: [INSPIRE-MIF/helpdesk-geoportal] PT: Geoportal harve

[2021-11-17 16:44] jescriu commented on #67
Many thanks for the confirmation @dfurtado-dgt - I will share your positive feedback to the rest of the team which is working on it.
I proceed to close this issue.

[2021-11-17 16:44] #67 closed, assigned to nobody

[2021-11-17 17:22] jescriu commented on #66
Dear @agesild,
We restarted the INSPIRE Geoportal services and manually executed the harvesting from the EE endpoint, which seem to be successful.
Please, check and let us know in order to close this issue.

Side note on #63: It was not classified as low priority, just prioritised taking into account the rest of issues to be solved and their corresponding impact on the Monitoring.

[2021-11-18 06:26] agesild commented on #66
Dear Jordi,
Harvesting was succsessful. Yes, issue is ready to close.

Kindly thank you!

[2021-11-18 06:26] #66 closed, assigned to nobody

[2021-11-18 09:02] oberseri commented on #65
Dear @jescriu

thanks for manually starting the harvesting. It ran through, but we could not publish the results, because we lost over 200 "downloadable datasets". There have been no changes since the last succesful harvesting (in most cases, I could not check them all). I just tested 2 examples (50A04BCD-858A-4656-B136-F8DE18D8F9C0 and d583b754-ce4e-4e4f-bb86-0ecd4b10bd43) with the linkage checke

[2021-11-18 09:07] jescriu commented on #65
Dear @manilly,
We will have a look and let you know.

[2021-11-18 10:13] MartinTuchyna commented on #60
Dear Jordi,

thanks a lot for the filter update.

Everything seems ok now.

M.

[2021-11-18 10:15] MartinTuchyna commented on #63
Dear @jescriu

thank you for the reset and re-harvest of the national SK CSW.

[2021-11-18 10:27] MartinTuchyna opened #68 "EC GP visibility of the WXS services availability and linkage check"
Please replace these lines with a brief summary of your issue and the expected
behaviour.

To help us investigate the issue, you may want to include:

- [ ] a description of the steps to reproduce your issue
Despite the successfull results of the checking the links in Linkage checker after the harvest of the metadata to the EC GP
there are no links for the view and download services.

Resource ID:

[2021-11-18 13:11] jescriu commented on #60
OK. If this is the case I will close the issue.

[2021-11-18 13:11] #60 closed, assigned to nobody

[2021-11-18 13:13] jescriu commented on #63
Perfect. I proceed to close this issue.

[2021-11-18 13:13] #63 closed, assigned to nobody

[2021-11-19 14:08] laers commented on #65
Dear @jescriu

Can you also have a look at [64](https://github.com/INSPIRE-MIF/helpdesk-geoportal/issues/64)?

Perhaps the problems have som overlap.
We have the exact same issue.

[2021-11-22 08:22] manilly commented on #65
harvest from Thursday again wasn't successful...

[2021-11-23 08:51] Ana-SGA opened #69 "Download link could not be determined"
Dear all,

we also have a problem with Download Links like other countries and a lot of our WFSs are not recognized by the INSPIRE Geoportal because of this error. Other countries seem to have this problem as well , and it affects everyone’s Monitoring results.

Can anyone take a look even though we know everyone is in a hurry because of the Monitoring? Attached is a display of harvesting console

[2021-11-25 07:51] oberseri commented on #65
Dear @jescriu

we are stuck again since thursday 18. (for one week!) - please help!

Best regards

[2021-11-25 14:22] Privatmijoha commented on #65
Dear all.
Sweden has lost a lot of download services that we know is good through tests in validator and they have passed test to INSPIRE Geoportal for more than a year. November 19 something went wrong in the harvest and they did not pass the test to INSPIRE Geoportal any longer.

[2021-11-25 16:35] jescriu commented on #65
Dear @manilly and @oberseri,
The harvest got stuck again. We re-started again the service and re-run the AT harvest.
Hope to have it finished later today.
@oberseri - Regarding the "bigger issues" you mentioned earlier, we are just investigating and trying to resolve an issue from BE which may have the same or similar cause. Just to let you know that we are working on it.

[2021-11-25 16:39] jescriu commented on #65
Dear @laers,
Will try to analyse the common denominator with #64 - As you mentioned, some of the issues opened in the repository may have a common cause. We are in the process of tracing it.

[2021-11-25 16:42] jescriu commented on #64
Dear @JohannaOtt and @laers,
As mentioned in #65, we will try to analyse this issue as soon as possible.

[2021-11-25 16:44] jescriu commented on #65
Dear @Privatmijoha,
Please open a new dedicated issue for Sweden, to better keep trace of it.

[2021-11-26 09:11] Privatmijoha commented on #65
Started a new harvest november 26 10:08. I hope it works better than the one run november 19.

[2021-11-26 09:32] oberseri commented on #65
Dear @jescriu

we just finished another harvesting - situation is unchanged, so we will not publish it.
I attached a list of datasets, which were OK at our last succesful harvesting at Nov. 04., but marked as not downloadable now.
I testeted a small subset of them with the linkage checker (marked yellow) an they are OK.

What to do now? Start a new harvesting or wait for "new instructions"?

Best

[2021-11-26 11:07] bfrichet3 opened #70 "Harvest console - ATOM Feed Services"
Dear

I hope you are all right.

I work for Belgian Federal Administration. Several Federal Administrations maintain some INSPIRE ATOM Feed Services. We have all noticed the same problem since our last harvest (it happened yesterday): the INSPIRE ATOMS are correctly read but not further than the second entry tag.

As a result, the datasets referenced in the next entry tags are not correctly taken

[2021-11-26 11:10] jescriu commented on #65
Dear @oberseri,
Thank you for this list of lost datasets.
Our IT Geoportal team is still working in solving the related issue, so I would recommend you to wait till we have progressed further on it. We will contact you through this issue thread in due time.

[2021-11-26 13:53] Privatmijoha opened #71 "Problem harvesting from SE"
Big problems in Inspire Geoportal harvesting routines?
The harvesting does not work as it should. Please help!
The published result from SE November 8 is ok. (243,194, 216)
November 19 we got a poor result ( 241,134, 213) = specially bad result for downloading even though the download feeds/services works fine in the published result from November 8 available in Inspire Geoportal. (also they work

[2021-11-26 13:56] jescriu commented on #70
Dear @bfrichet3,
We took note of this issue and will try to solve it as soon as possible.
It is more than probably correlated with other issues already reported in the repository, in which our IT Geoportal team is already working hard to fix them.
We will keep you posted.

[2021-11-26 13:58] bfrichet3 commented on #70
Dear Jordi

Thank you very much for you qucik reaction. We appreciate your hard work in order to fix these problems.

Regards and stay safe,

Benoît

[2021-11-26 14:10] jescriu commented on #71
@Privatmijoha - Thank for posting the Sweden issue using this dedicated thread.
This problem is correlated with other Geoportal issues already spotted by other European catalogues nodes, in which our IT Geoportal team is already working hard to fix them.
We will keep you posted on any progress using this thread.

[2021-11-26 14:48] Privatmijoha commented on #71
Great! Thank you @jescriu.

[2021-11-26 15:09] bfrichet3 commented on #70
Dear @jescriu

In order to be sure, the National Geographic Institute switched two entry tags in its own ATOM Feed (the second one in the previous picture).

![image](https://user-images.githubusercontent.com/80756452/143600394-ef280b7f-621a-48e8-a692-54551021252c.png)

As you may see, only the two first entry tags are really screened by the portal. We can now exclude that comes from a problem wit

[2021-11-27 06:48] MatAlps commented on #71
Same issue for Luxembourg regarding the download links checking.
For records/downloadable/viewable:
* harvest 11/10 : 306 / 267 / 257
* today 27/11 : 308 / 51 / 273

(We were expecting the improvement in viewable service)

[2021-11-29 15:41] vbombaerts commented on #4
The problem seems to be resolved. Thank you.

[2021-11-29 15:41] vbombaerts commented on #3
The problem seems to be resolved. Thank you.

[2021-11-30 09:45] jescriu commented on #3
Dear @vbombaerts and @stephyritz,
As you noticed, our Geoportal IT team already implemented a solution for this issue.
Therefore, I proceed to close this issue. Please feel free to comment / open again if needed.
Thank you again for your spotting the problem.

[2021-11-30 09:45] #3 closed

[2021-11-30 09:46] jescriu commented on #4
Dear @vbombaerts and @stephyritz,
As you noticed, our Geoportal IT team already implemented a solution for this issue.
Therefore, I proceed to close this issue. Please feel free to comment / open again if needed.
Thank you again for your spotting the problem.

[2021-11-30 09:46] #4 closed

[2021-11-30 09:53] oberseri commented on #65
Dear @jescriu,
just to inform you: The harvesting process has been successfully
run through today and we will publish the results.

Best regards

@manilly

[2021-11-30 10:15] jescriu commented on #65
Dear @manilly and @oberseri,
As you noticed, our Geoportal IT team already implemented a fix for this bug. We were just testing the fix with other endpoints before contacting you on it.
I proceed to close this issue. Please feel free to comment / open again if needed.
Thank you for your patience.

[2021-11-30 12:07] Privatmijoha commented on #71
@jescriu: Looks like harvesting Sweden works fine again.
Thank you!

[2021-11-30 16:04] jescriu commented on #71
Dear @Privatmijoha (and @MatAlps),
As you noticed, our Geoportal IT team already implemented a fix for this bug. We were just testing the fix with other endpoints before contacting you on it.
I proceed to close this issue. Please feel free to comment / open again if needed.
Thank you for your patience.

[2021-11-30 16:04] #71 closed, assigned to nobody

[2021-12-01 09:09] madlenkk opened #72 "CZ: Harvesting not finished after 3 days"
Dear Geoportal team,
I would like to ask you to restart the harvest of CZ discovery service - it is stucked for three days.

![image](https://user-images.githubusercontent.com/8487830/144204833-35909ab8-2167-4f4a-a24b-e3787072b3db.png)

It seems it is similar problem as #65 and #63.

Thank you so much,
Magdalena

[2021-12-01 10:45] jescriu commented on #72
Dear @madlenkk,
Just to let you know that out IT Geoportal team is working on it - We restarted the INSPIRE Geoportal services this morning but we are still managing some improvements and related testing.
We will manually execute the harvesting from the CZ endpoint once these are ready.
Please wait till we have done this process. We will keep you posted.

[2021-12-01 10:50] madlenkk commented on #72
Dear @jescriu ,
thank you very much for the quick response!
Magdalena

[2021-12-02 10:07] LauraAlemany opened #73 "Harvesting & Monitoring of Spain"
Hello,

We have a problem when harvesting our oficial national catalogue [CODSI](https://www.idee.es/csw-codsi-idee/srv/spa/catalog.search) from the INSPIRE Geoportal.

As you can see in the [Harvesting Status](https://inspire-geoportal.ec.europa.eu/harvesting_status.html), on the 4th of November this year we had 246 datasets, 136 were accesible through download services and 169 through view servi

[2021-12-02 14:57] jescriu commented on #73
Dear @LauraAlemany,

We already realised about the decrease of your indicators during the last days, discussed it internally and decided to look at it as soon as possible.

We will analyse the issue and keep you posted.

[2021-12-03 07:12] Ana-SGA opened #74 "Certificate issue"
Dear all,
we have a problem with displaying services on the INSPIRE Geoportal. The Linkage checker tool reports the following error:
![Certificate](https://user-images.githubusercontent.com/77394573/144557290-f65a747c-c00d-4e45-aea1-cb20b0214aa1.png)
If we remove the certificate, the connection on the Linkage checker tool is correct and the services are displayed on the INSPIRE Geoportal. This cer

[2021-12-03 08:26] madlenkk commented on #72
Dear @jescriu ,
please let me know, if I may run the harvest of CZ catalog already.
Thanks,
Magdalena

[2021-12-03 13:11] oberseri commented on #65
Dear @jescriu,
just to inform and prepare you: Our current harvesting showed bad results again, so we started an new one. I will inform you about the results on monday.

Best regards
@manilly

[2021-12-03 13:33] jescriu commented on #65
Dear @oberseri and @manilly,
Thanks for sharing. Waiting for the outcomes.

[2021-12-03 13:43] jescriu commented on #72
Dear @madlenkk,
Our IT Geoportal team put in production some enhancements to the INSPIRE Geoportal code, and already scheduled a new harvest of your endpoint just afterwards. It finished earlier this morning (so no need for you to start a new harvest).
Please have a look at the results in the harvest console and let us know.

[2021-12-03 14:44] jescriu commented on #72
By the way @madlenkk, while analysing the issue our team identified that, from a total of 44 ATOM services reported, 4 of them were seriously slowing down the performance of the INSPIRE Geoportal: 2 of them with 6257 entries, and 2 of them with 13075 entries - with the following metadata fileIdentifiers:

1. "CZ-00025712-CUZK_ATOM-MD_CPX" - ATOM Service: "https://atom.cuzk.cz/CPX/CPX.xml".
2. "CZ-

[2021-12-06 06:09] manilly commented on #65
Dear @jescriu,
the harvest from friday showed the same bad result with dropped download links:
![image](https://user-images.githubusercontent.com/45065613/144795708-d796a035-aa58-4f13-9559-e14cf875b693.png)

Just to be sure i picked a random dataset with no harvest link during harvesting:
![image](https://user-images.githubusercontent.com/45065613/144795828-6516499d-a430-4765-b5d4-46f2bdb4a32b.png

[2021-12-06 07:29] madlenkk commented on #72
Dear @jescriu,
Thank you very much for the harvest and the analysis - I will forward the message to the relevant provider asap.
Magdalena

[2021-12-06 08:43] jescriu commented on #65
@manilly and @oberseri,
Thank you for your last harvest and the analysis.
We will check again when possible and get back to you.

[2021-12-06 13:16] mwjsanders opened #75 "Linkage not estabilished between the Atom and 'Ruimtelijke plannen' Data Set"
When validating the dataset 'Ruimtelijke plannen' using the Inspire linkage checker, this results in not being able to succesfully link the dowload service to the dataset.

The following steps on the result page don't have a succesful result:
- Linkage has been estabilished between the Download Service and Data Set
- A Download link has been determined

![image](https://user-images.githubuserconte

[2021-12-06 18:32] bfrichet3 commented on #70
Dear @jescriu

It seems that the geoportail correctly reads our ATOM again.

![image](https://user-images.githubusercontent.com/80756452/144901865-aed1d25c-b9cb-4604-ba4e-335bb39522aa.png)

As you may see here, many entry tags are found in that download service. I am still quite surprised you didn't inform us that the problem has been solved. Could you confirm you fix that bug or did something els

[2021-12-07 07:38] JohannaOtt commented on #64
The same is true for these resources in case examples help to investigate the issue. I won't attach the validator results again, but they all passed:
* dataset metadata https://haleconnect.com/services/bsp/org.789.ffa9f2a0-54d8-4f18-961c-196230496a0a/md/dataset/dataset1
* WMS metadata https://haleconnect.com/services/bsp/org.789.ffa9f2a0-54d8-4f18-961c-196230496a0a/md/service/id_wms
* WFS metadata

[2021-12-07 08:39] jescriu commented on #70
Dear @bfrichet3,
We have been working in parallel in solving several other issues with similar impact.
Could you share the uuid of your original metadata?

[2021-12-07 08:53] bfrichet3 commented on #70
Dear @jescriu,

That's the UUID of the download service metadata: 5cfe8a91-3dc9-4cf6-a40a-6a6d6f3124ab.

I would thank you and all the INSPIRE development team for your commitment in this matter.

Nevertheless, I would put your attention, and put the attention of all the JRC INSPIRE team on these elements:

1) without the old "INSPIRE Full Operating Capability Testing" tool, it would have been ver

[2021-12-07 09:19] jescriu commented on #70
Thank you for your contribution @bfrichet3,
As reported during the 67th MIG-T Meeting, the INSPIRE Geoportal is currently in a transition phase for the adoption of a fully-redesigned backend based on GeoNetwork. The current Geoportal will be dismissed soon, so your recommendations and proposals for improvement should be considered in the context of the redesigned INSPIRE Geoportal based on GeoNetw

[2021-12-07 16:44] jescriu commented on #70
Dear @bfrichet3 - I confirmed with our IT Geoportal team that some of the transversal corrections we made to the INSPIRE Geoportal code have more than probably solved this issue.
Therefore, I proceed to close this issue. Please reopen it if the issue appears again.

[2021-12-07 16:44] #70 closed, assigned to nobody

[2021-12-08 09:58] idevisser commented on #75
When I look in the service feed I see the following link to dataset metadata;

https://www.nationaalgeoregister.nl/geonetwork/srv/dut/csw?service=CSW&amp;version=2.0.2&amp;request=GetRecordById&amp;outputschema=http://www.isotc211.org/2005/gmd&amp;elementsetname=full&amp;id=17716ed7-ce0d-4bfd-8868-a398e5578a36

When I look in the metadata of the service, I see the following in the operatesOn eleme

[2021-12-08 11:47] MartinTuchyna opened #76 "SK: Blocked harvest / request for manual one"
Dear EC INSPIRE Team,

could you please check and re/start the SK harvest we lauched on Monday?

![obrázok](https://user-images.githubusercontent.com/6195936/145202069-f3a40167-621f-4050-ba0f-412d69519ed8.png)

Thanks in advance,

Martin

[2021-12-09 07:15] jescriu commented on #76
Dear @MartinTuchyna,
We will check, re-start the harvest if blocked and keep you posted.

[2021-12-09 07:31] mwjsanders commented on #75
Thanks @idevisser, for taking the time to analyse this ticket.

We have aligned the dataset metadata references in the service feed and in the service metadata, so that they are exactly the same.
The SpatialDatasetIdentifier namespace in the service metadata is also set to the value used in the dataset metadata (http://kadaster).
We waited till this namespace update in the service feed was also up

[2021-12-09 08:24] idevisser commented on #75
@mwjsanders, please use the instructions and check also if the metadata URL is exactly the same

[2021-12-09 08:31] manilly commented on #65
Hi @jescriu ,
we tried a harvest again. Unfortunately the same non-comprehensible bad result as last week. Please check asap as the 15th of December (harvest deadline) is next week!
Thanks, Manuel

[2021-12-09 10:34] JLSchaap commented on #75
@idevisser  We followed the instructions. Can you elaborate on the errors in the evaluation report of the following service
https://www.nationaalgeoregister.nl/geonetwork/srv/dut/catalog.search#/metadata/dc9fbc85-1263-4a1b-b001-7be701a6039e

![validation](https://user-images.githubusercontent.com/23397617/145378806-29a8aedf-d2c5-4be1-88c5-08d2c17688ab.png)

[2021-12-09 12:45] jescriu commented on #73
Dear @LauraAlemany,

Lately on last Friday we already discovered that the following catalogue service was not replying in a timely manner:
http://www.mapama.gob.es/ide/metadatos/srv/spa/csw

The INSPIRE Geoportal waits 10 seconds as per Technical Guidelines requirement, but we tested it with Postman and the service seemed not be replying at all. This made the harvest to take ages to finish. Since

[2021-12-09 12:51] jescriu commented on #76
Dear @MartinTuchyna,
We have checked the harvest earlier this morning and it is not stuck, just processing.
This is reasonable, since we notice the existence of ATOM services having a large number of entries, so we expect the harvest to take longer than the estimation the INSPIRE Geoportal harvest console provides based on the previous successful harvest published.
Now we are monitoring it, so we

[2021-12-09 13:36] MartinTuchyna commented on #76
Dear @jescriu
Thanks for an update.
Does that mean that in previous harvests ATOM services were not validated, or just amount is higher?
We are not aware of significant raise of the ATOM feeds, as well as entries inside these ATOM feeds but if so, we will be curious to see the outcomes ;o)
Anyway, thanks in advance for letting us know, when it will be finished.

[2021-12-09 14:26] jescriu commented on #76
Dear @MartinTuchyna,
Time of processing depends on many concurrent factors. Not sure if the amount of ATOM services is one of them in this specific case, but for sure it was the reason for the last harvest to be stuck. Let me say that this also happened recently with other countries.
Stay in contact.

[2021-12-09 15:12] jescriu commented on #54
Dear @gdi-de-sara / @SaGeissler,

After implementing some high effort performance improvements to the INSPIRE Geoportal code to deal with both, large catalogues and ATOM Feeds services we managed to successfully harvest the DE catalogue harvest we scheduled.

Please check the results. Hopefully you could publish them already.
Let us know the outcomes in order to proceed with closing this issue.

[2021-12-09 18:14] jescriu commented on #74
Dear @Ana-SGA ,
Just to let you know that our IT Geoportal team will check this issue in the coming days.
We will keep you posted.

[2021-12-09 18:57] jescriu commented on #65
Dear @manilly and @oberseri,
Our IT Geoportal team will work on it as soon as possible.
The issue is reopened now. We will keep you posted.

[2021-12-09 23:57] MartinTuchyna commented on #76
Dear @jescriu

Seems harvesting successfully finished. Thank you!

[2021-12-09 23:57] #76 closed, assigned to nobody

[2021-12-10 06:22] Ana-SGA commented on #74
Dear @jescriu ,
thanks for your feedback. I hope your IT team will look into this soon and thanks for keeping us posted.

[2021-12-10 07:38] jescriu commented on #76
Thank you @MartinTuchyna,
It ended successfully indeed.
Thanks for closing the issue.

[2021-12-10 08:06] ghost opened #77 "Harvesting status page in Geoportal: no data available"
Hi.

[harvesting status page](https://inspire-geoportal.ec.europa.eu/harvesting_status.html) doesn't show which catalogue has been harvested and when:
![image](https://user-images.githubusercontent.com/38787131/145539051-359dbe20-8270-4587-ab16-539b2ebaa0a0.png)

Could you please take a look at it?

Thanks!

[2021-12-10 08:12] jescriu commented on #77
Dear @DeordD,
Thanks for spotting. We will look at it as soon as possible.

[2021-12-10 10:18] abadppa0 commented on #73
Dear @jescriu
The results are now much better!!!
The CSW CODSI URLs are all httpS and we will keep an eye on the MAPAMA catalogue http://www.mapama.gob.es/ide/metadatos/srv/spa/csw.

Thank you very much for your work and help.
Paloma

[2021-12-10 10:19] jescriu commented on #73
Thank you @abadppa0,
I proceed to close this issue.
Best.
Jordi

[2021-12-10 10:19] #73 closed, assigned to nobody

[2021-12-10 13:25] GIM-Jarrik commented on #65
Hi,
We have the same issues for the Luxembourg harvest.
Not only the download link recognition, but also view service and download service recognition seems to be off.

One example:
![afbeelding](https://user-images.githubusercontent.com/95920689/145580053-682b33bb-aa36-435e-9c4b-ba1a133468fd.png)

I ran the linkagechecker:
dataset: https://catalog.inspire.geoportail.lu/geonetwork/srv/api/records/

[2021-12-10 14:18] jescriu commented on #77
Dear @DeordD - The issue is solved now.
Thanks for spotting.

[2021-12-10 14:18] #77 closed, assigned to nobody

[2021-12-10 16:57] alitka commented on #54
Dear @dartasensi & @jescriu
We've checked the results, and did the finally publishing. Therefore, you can close this issue.
Kind regards.

[2021-12-13 08:29] jescriu commented on #54
Thank you @alitka (and also @SaGeissler @gdi-de-sara) for your feedback.
We proceed to close this issue.

[2021-12-13 08:29] #54 closed, assigned to dartasensi

[2021-12-14 10:00] nppozar opened #78 "Problems with harvesting (Slovenia)"
Dear INSPIRE team,

in harvesting we have a problem with download services that are not harvested to the geoportal. We have added many new services, but now the existing ones are also missing, the ones that have already been successfully published on the geoportal. Please help us, otherwise our monitoring results will not be correct.

Thank you very much and best regards,

Nina

[2021-12-14 12:04] oberseri commented on #65
Dear @jescriu,
our current harvesting from today shows the same bad results - the situation is unchanged!
Best regards

@manilly

[2021-12-14 12:09] jescriu commented on #65
Dear @oberseri, @manilly
We have this issue in the pipeline. Thank you in advance for your patience.

[2021-12-14 12:15] jescriu commented on #74
Dear @Ana-SGA,
Once received the updated certificate wit the correction of the issue we reported to you by email, we made a quick check and it should be working properly now.
Since we will be willing to test it in production, please let us know if we can schedule a new harvest of your endpoint right now, or we should wait till you finish some Monitoring-related work.

[2021-12-14 13:07] Ana-SGA commented on #74
Dear @jescriu ,
please wait.

[2021-12-14 13:11] nppozar commented on #65
We have the same issue for the Slovenia harvest #78

[2021-12-14 18:57] MatAlps opened #79 "Problem with harvesting (LUX): availability through view services randomly reported missing although "Resource linkages checker tool" shows that it is available"
* In our last harvest (Tue Dec 14 2021 18:09:02 GMT+0100), we have a dozen dataset where view availability is reported missing while the "Resource linkages checker tool" shows it works. One example of concerned dataset: https://catalog.inspire.geoportail.lu/geonetwork/srv/eng/catalog.search#/metadata/c8c7847a-4856-4c8d-948d-6055b5067b56.

* Over the few last harvests in recent days the problem has

[2021-12-15 07:28] manilly opened #80 "Linkage Checker improvements: show requests"
Dear Linkage Checker Team,
sometimes we have problems to find out what the problems are, when checking the linkages between services and data. In our case it was the linkage between WFS and Data. We had to monitor our system to find out which requests were made during a linkage check.

It would make sense to show the requests actually sent by the linkage checker to the queried systems, as this wou

[2021-12-15 12:08] magearu opened #81 "RO: Certificate issue"
Dear all,
We have  a problem with the displaying services on the INSPIRE Geoportal.
This refers to the  SSL certificate error. - PKIX path building failed: sun.security.provider.certpath.SunCertPathBuilderException: unable to find valid certification path to requested target
 ![img1](https://user-images.githubusercontent.com/96180749/146183376-f08e7a5d-a795-409f-856d-1a0204ffde1a.png)

So, we veri

[2021-12-15 17:21] jescriu commented on #78
Dear @nppozar,
Despite the late reporting of this issue, out IT Geoportal team will do our best to analyse and solve the problem (if it is due to the INSPIRE Geoportal).
We will keep you posted.

[2021-12-15 17:50] nppozar commented on #78
Thank you very much!

[2021-12-16 11:35] jrc-inspire opened #82 "Start of INSPIRE Monitoring and Reporting 2021"
Dear all,
thank you for the continuous feedback and support provided in preparation of the Monitoring and Reporting 2021 exercise. Our team has made an exceptional work to address all requests, including those that came only few days before the deadline of 15/12.

Given that this deadline has now been reached, this message is to inform you that the harvest console will be closed and we will start

[2021-12-16 13:52] magearu opened #83 "RO: Infrastructure problems - interruptions in services response"
Dear JRC INSPIRE team,

Sorry for the delay, this is to inform you that we have some technical issues with the infrastructure, in the sense that it has interruptions in the response of the download and viewing services.
Romania's IT team is trying to solve this problems and we will let you know as soon as possible

Thank you in advance,
G. Magearu

[2021-12-16 14:39] MatAlps opened #84 "Will the reported variability of availability through view & download services affect the monitoring results?"
Hi helpdesk,

First, thank you for your work, we know that you are really busy at the end of the year and still manage to follow the tickets here.

In the last two weeks variations of the view/download availability results between subsequent harvests of the same unchanged catalog have been reported for Luxembourg (that I represent), slovenia and austria at least (https://github.com/INSPIRE-MIF/hel

[2021-12-21 10:40] sMorrone opened #85 "login required to access documentation in https://inspire-geoportal.ec.europa.eu/mr2020.html"
In the https://inspire-geoportal.ec.europa.eu/mr2020.html page, login is required to access the following documents:
•	[Guidance document for the calculation of indicators](https://webgate.ec.europa.eu/fpfis/wikis/download/attachments/356262712/%5BDOC6%5D_MIG10_IndicatorsGuide.pdf?version=1&modificationDate=1560513159335&api=v2)
•	[Indicators calculation](https://webgate.ec.europa.eu/fpfis/wikis/d

[2022-01-04 13:29] MarcoMinghini commented on #85
Dear @sMorrone,
please see [my reply in the original issue](https://github.com/INSPIRE-MIF/helpdesk/issues/74#issuecomment-1004810934). If this is satisfactory, feel free to close this issue.

[2022-01-04 14:28] sMorrone commented on #85
Thank you @MarcoMinghini,
the reply is satisfactory and I am closing this issue.

[2022-01-04 14:28] #85 closed, assigned to nobody

[2022-01-06 14:15] magearu commented on #83
Dear JRC INSPIRE team,

Please, be informed that the issue described above has been resolved by our IT team

All the best regards,
G. Magearu

[2022-02-01 08:52] fdumortier commented on #82
Dear JRC,
According to post above "(...) harvesting all the catalogues and calculate the indicators (...) will last for up to 3-4 weeks" starting from 15/12/2021. Can you give an update?  Today we are more than 7 weeks later and the harvest console is still unavailable...
Kind regards,
François Du Mortier

[2022-02-07 15:56] fdumortier commented on #82
Hello, the harvestconsole is back : thanks!

Howerever, it seems impossible to download the indicators (cfr https://inspire-geoportal.ec.europa.eu/harvestconsole/monitoring_indicators.jsp?gpResNew=INSPIRE-210556c9-36d4-11e1-aeeb-52540004b857_20211215-150102). The "Download indictors report" button is shown with a sandbox.

Kind regards,

François Du Mortier

[2022-02-08 14:35] alitka opened #86 "DE: request for a new harvesting"
Dear Geoportal Helpdesk,

As mentioned in Roberts Mail from 2020/03/02 we would like to initiate a new push of our metadata records to the EU Geoportal. For this reason, we kindly ask you to start a new harvesting of our catalogue instance and publish them for us in the Geoportal harvesting "sandbox", please.

We would appreciate it if you could start the new harvesting process before February 18,

[2022-02-09 07:39] alitka commented on #5
Unfortunately, our concerns about this issue are still present and are directly affecting the 2021 monitoring results.

Based on your calculation, the monitoring indicator DSi2 is 74% for Germany, but we are not able to reproduce this value. According to our own analysis, we get a value of 59.76% for DSi2.

We did some testing, and were able to reverse engineer your calculation method to match you

[2022-02-09 14:11] #72 closed, assigned to nobody

[2022-02-11 10:44] nppozar commented on #78
Dear @jescriu ,

Please let us know if you have been able to find out anything about our problems with harvesting download services. After re-establishing the harvesting console, we tried again yesterday and the problem remains.

Thank you very much and best regards,

Nina

[2022-02-14 09:33] lfrz commented on #65
Dear INSPIRE GP Team and @jescriu ,
I've seen, the monitoring 2021 reports are available. Unfortunately the calculated values for NSi2.x are not satisfying for us. The problem described above is still not fixed.

I tried to test some of the metadata in the linkage checker, which are shown as not-downloadable in current harvesting from 17.12. & monitoring report. **ALL** of them are correct accordi

[2022-02-14 09:36] manilly commented on #65
Dear @jrc-inspire and @jescriu ,
I've seen, the monitoring 2021 reports are available. Unfortunately the calculated values for NSi2.x are not satisfying for us. The problem described above is still not fixed.

I tried to test some of the metadata in the linkage checker, which are shown as not-downloadable in current harvesting from 17.12. & monitoring report. **ALL** of them are correct according

[2022-02-15 07:17] hallinpihlatie opened #87 "FI: NS4.* indicators, eg. discovery service"
A question related to the calculation of the NS4.* indicators with an example of the NS4.1 indicator (conformity of discovery services), where the INSPIRE Geoportal plays a role, but the indicators are based on "self-declaration".

The [metadata](https://www.paikkatietohakemisto.fi/geonetwork/srv/api/records/6f77b9f1-aa4f-4688-ab32-2e721bcfefd9/formatters/xml?approved=true) of the Finnish discover

[2022-02-15 13:00] oberseri commented on #65
Dear all,
maybe this validator issue could play al role, as many Atom-feed download-links are "not available":
https://github.com/INSPIRE-MIF/helpdesk-validator/issues/709

fyi: @manilly

[2022-02-15 13:12] jescriu commented on #65
Dear @oberseri and @manilly,
Thank you for warning on the possible link to the mentioned Validator issue.
We will look into this issue as soon as we close other issues we are working on right now.

[2022-02-15 13:28] jescriu commented on #78
Dear @nppozar,

Thank you for your new posting. We are now working in solving other issues, but we will be investigating if your issue may be the similar to #65. If this is the case, it might be regarded to the INSPIRE Reference Validator.

Will come back to you .

[2022-02-15 13:32] nppozar commented on #78
Dear @jescriu,

thank you, I think our case is not the same, because i have all validations green also on reference validator.

All the best,

Nina

[2022-02-15 13:37] jescriu commented on #86
Dear @alitka,
We are currently processing your request.
Due to the size of your catalogue, there is no space enough in our servers to maintain the files associated to the new and the previous harvest. Our IT Geoportal team is working in automatizing the cleaning of files from the previous harvest when a new one is scheduled.
We will let you know when we start the new harvest.

[2022-02-15 13:42] jescriu commented on #78
OK. If this is confirmed we will treat it as a separate issue.
We will let you know when we start analysing it.

[2022-02-15 18:12] jescriu commented on #82
Dear @fdumortier,

Thanks for pointing us to this issue, which was caused by a firewall that was denying some of the requests coming from the INSPIRE Geoportal. This firewall is a general JRC ICT component, i.e. outside the INSPIRE Geoportal architecture.

Now the problem is solved. Please feel free to test it yourself by accessing to the Harvest Console for your endpoint (Service de découverte po

[2022-02-15 18:12] #82 closed, assigned to nobody

[2022-02-15 19:29] jescriu commented on #86
Dear @alitka,
Finally our IT Geoportal Team made an evaluation of the disk size available on the server, which seems to be sufficient if other countries with large catalogues run a harvest of their endpoints concurrently.
Since the harvest of your catalogue is currently taking approx. 5 days, following your initial request and maintenance constraints we will be scheduling the new harvest on 22nd F

[2022-02-16 10:15] oberseri commented on #78
Sorry to step into this discussion;

Did you validate the metadata or the DL-services (Atom-feeds) succesfully; to eliminate missunderstandings - we have a problem with the Atom-feed validation

Erik

[2022-02-16 13:23] hallinpihlatie opened #88 "FI: 30% drop in download services when harvesting last week"
There was a 30% drop in the amount of download services when harvesting last week. We still published the results.

A checked a resource that was in place in the previous harvest with and according to the Linkage Checker there is no problem, but the download service isn't visible in the geoportal anymore:
f321f8eb-cc4b-4c4d-ac8a-0dc97306119c (dataset)
5db8b2fd-3a05-422f-b008-0d86bda2d17a (view)
ed

[2022-02-17 14:04] alitka commented on #86
Thanks, @jescriu, for the information + update.

[2022-02-18 10:00] kdemetriou opened #89 "CYPRUS- EU Geoportal does not recognize specific metadata records"
Hello.
regarding Cyprus INSPIRE Geoportal:
The CAPO (Cyprus Agricultural Payments Organization), has provided REST services directory (https://webgis.capo.gov.cy/capoweb/rest/services/INSPIRE), containing INSPIRE related data.
For these, the administrator of the Cyprus INSPIRE Geoportal has registered the source and created the metadata records using the INSPIRE metadata editor of the Geoportal. B

[2022-02-18 10:13] magearu opened #90 "RO: Differences between results with linkage checker and the result of the harvesting process"
Following the harvesting processes, the last one on 15.02.2022, we noticed that a series of data sets do not have visible services https://inspire-geoportal.ec.europa.eu/sandbox/
We  checked  with the linkage checker tool this particular cases and the result regarding resource linkage aspect was completed and at missing resource linkage aspect nothing was identified.
Here are some examples:

1.	Ca

[2022-02-22 16:01] MartinTuchyna opened #91 "SK Missing MD record on EC GP"
Dear EC INSPIRE GP Team.

When checking the harvested MD from [SK national discovery service](https://inspire-geoportal.ec.europa.eu/results.html?country=sk&view=details&theme=none) (Same with recent harvest results), we have spotted missing MD record https://rpi.gov.sk/rpi_csw/service.svc/get?request=GetRecordById&service=CSW&version=2.0.2&elementSetName=full&outputschema=http://www.isotc211.org/

[2022-02-23 13:36] jescriu commented on #91
Dear @MartinTuchyna,

Thank you for spotting this issue. I have tried to search for this record (by title) in the INSPIRE Geoportal and I can neither find it.

Do you mean that you already missed this specific record in previous harvest? - Please, let us know in order to orientate our checks.

BTW - I validated the metadata record using the INSPIRE Reference Validator and it is OK.

Best,
Jordi

[2022-02-23 13:54] MartinTuchyna commented on #91
Dear Jordi @jescriu ,

for sure, this MD record was already harvested on EC GP, but I don't remember, when I last time saw it there.

Thank you, m

[2022-02-23 14:25] jescriu commented on #86
Dear @alitka,
The new harvest of your endpoint started on 22nd, as reported in my last post. Unfortunately it got stuck this morning, and this time the size on the server seems not to be the issue.
We will be restarting the harvest today, so please keep your infrastructure as stable as possible during the approximately 5 days of processing that it might take - Note that it might be also running du

[2022-02-23 14:41] jescriu commented on #78
Dear @nppozar,
Please kindly provide 2 or 3 examples of the services that are not harvested (also pointing to their metadata records).
Best,
Jordi

[2022-02-23 14:46] nppozar commented on #78
Dear @jescriu ,

in the meantime, we checked services once again and corrected a few things, which now results in successful harvesting.

Thank you again and best regards,

Nina

[2022-02-23 15:47] alitka commented on #86
Dear @jescriu ,
Thanks again for the detailed information you have given us. If you tell us the precise time of the harvesting start, we can monitor the process on our side.
We would appreciate, if you could start the harvesting process after 7 am tomorrow (2022-02-24), due to internal maintenance work on our side between 5 am and 7 am.
Thanks in advance and best regards.

[2022-02-23 17:27] jescriu commented on #86
Dear @alitka,
Following you indications we will re-start the harvest tomorrow after 7:00 CET, and will let you know when started.
Please, let us know if you could avoid the update of your catalogue this weekend (to prevent potential issues with this harvest).

[2022-02-23 18:12] jescriu commented on #87
Dear @hallinpihlatie,
Thank you for spotting this issue.

In principle, NS4.* indicators are based on self-declaration of conformity (of services).
Taking the specific example you provided based on your [discovery service](https://www.paikkatietohakemisto.fi/geonetwork/srv/en/csw?SERVICE=CSW&VERSION=2.0.2&request=GetCapabilities), if you declare in the [service metadata](https://www.paikkatietohak

[2022-02-23 18:22] jescriu commented on #88
Dear @hallinpihlatie,

We acknowledge receipt of this issue, which has commonalities with other issues reported in the helpdesk (e.g. see #65), in which our INSPIRE Geoportal IT Team is working on.

We will update you on the status of this issue as soon as possible.

Best,
Jordi

[2022-02-23 18:40] jescriu commented on #78
Dear @nppozar,
Great to hear that the issue is now resolved, which I proceed to close.
Could you enumerate which items you corrected in these services, and the type of services you amended? - This may help us in understanding the implications these items have in the INSPIRE Geoportal.
Thank you!

[2022-02-23 18:40] #78 closed, assigned to nobody

[2022-02-24 15:37] alitka commented on #86
Dear @jescriu,
Just a question: did you already start a harvest process locally on your machine, as we couldn't see any actions on our systems over the day. I would be glad to get a quick reply.
Also, we'll skip the internal updates of our catalogue this weekend (to prevent potential issues with this harvest).
Best regards.

[2022-02-24 15:42] jescriu commented on #86
Dear @alitka,
Excuse me, I had pending to inform you. We restarted the harvest around 15:15 CET today, since we need to perform other checks before.
Hope it is running OK this time.

[2022-02-25 10:43] alitka commented on #86
Dear @jescriu,
Just a note: the harvest was running since 3 pm yesterday. But currently, we couldn't see any actions on our systems. Is the harvesting still running?
Best regards.

[2022-02-25 11:08] jescriu commented on #86
Dear @alitka,
Thank you for your feedback. I will check it with our IT Geoportal Team. and will let you know.
Best,
Jordi

[2022-02-25 16:02] jescriu commented on #86
Dear @alitka,
As per our IT Geoportal Team, the harvest process is running and alive.
Nor sure why you might not be detecting it. Let's see the status of the process on Monday.
Best,
Jordi

[2022-02-28 10:49] alitka commented on #86
Dear @jescriu,
As already reported on Friday, we can't detect any activities on our system. However, is the process still running on your system?
Best regards.

[2022-02-28 13:31] jescriu commented on #86
Dear @alitka,
The harvest was finished. You can access the results via harvest console.
Let's contact by email to comment on them.
Jordi

[2022-02-28 13:31] #86 closed, assigned to nobody

[2022-03-03 00:39] MartinTuchyna opened #92 "Missing significant amount of SK download services MD without clear reason"
Dear INSPIRE EC GP  Team,

could you please, check, why Slovakia has lost significant amount of download services after recent harvests
from 134 in December 2021
to 9 (observed during recent harvests - from January to March) ?

We are not aware about changes on the download services and by random testing these seems to be available and passing lingage checker tests. View services remains stable, e

[2022-03-07 08:48] madlenkk commented on #92
Dear Geoportal team, dear Martin,
It seems that we have similar problem with czech download services - lot of our WFS services which where available whole last year (and also for Monitoring 2021) are now missing in Geoportal. Although we didn´t make any changes and the linkages between resources are correct.

I would therefore like to know if it is a temporary bug on Geopotal site, or if you have

[2022-03-07 11:25] jrc-inspire commented on #92
Dear @MartinTuchyna , @madlenkk,

The functionality of the INSPIRE Geoportal backend is being migrated to a GeoNetwork-based architecture.

Therefore, open issues affecting the current INSPIRE Geoportal backend will not be addressed unless cases of justified need are identified.

Please contact us at [JRC-INSPIRE-SUPPORT@ec.europa.eu](mailto:JRC-INSPIRE-SUPPORT@ec.europa.eu) in case you have any u

[2022-03-09 14:07] hallinpihlatie opened #93 "Issues encountered when filtering in the INSPIRE Geoportal"
I encountered issues with filtering according to "Regional" and "Other" spatial scope today. My colleague reproduced the problem, the INSPIRE Geoportal is "Loading data", but not giving a result. The rest of the filtering options works fine.

URL tested: https://inspire-geoportal.ec.europa.eu/results.html?country=fi&view=details&theme=none

My colleague also tested filtering the information of oth

[2022-03-14 09:26] AFCONSULTOLD opened #94 "The Inspire validator result is not correct"
I am trying to make an Inspire compatible WMS accessible from the Inspire Geoportal. The test result I get when using the Inspire validator against the GetCapabilities XML contains many errors including that the XML is invalid.

When I validate the xml myself against the schema It is also invalid but if I change the relative path to common.xsd in https://inspire.ec.europa.eu/schemas/inspire_vs/1.0

[2022-03-16 11:49] jrc-inspire commented on #74
We proceed to close this issue, which seems to be solved.

[2022-03-16 11:49] #74 closed, assigned to nobody

[2022-03-16 12:03] jrc-inspire commented on #48
The functionality of the INSPIRE Geoportal backend is being migrated to a GeoNetwork-based architecture.

Therefore, open issues affecting the current INSPIRE Geoportal backend will not be addressed unless cases of justified need are identified. Once the revamped Geoportal is ready, we will revisit this issue to check if the problems with the certificate remain.

Please contact us at [JRC-INSPIRE-

[2022-03-16 12:03] #48 closed, assigned to dartasensi

[2022-03-17 10:41] jescriu commented on #94
Dear @AFCONSULTOL,
I suggest that you are opening a an issue in the generic [INSPIRE helpdesk](https://github.com/INSPIRE-MIF/helpdesk), since your post is not related to the INSPIRE Geoportal, but a generic question on schemas and their validation.
Therefore, I proceed to close this issue.

[2022-03-17 10:41] #94 closed, assigned to nobody

[2022-03-17 14:50] jescriu commented on #83
Dear @magearu ,
Thanks for letting the INSPIRE Geoportal team know.
I proceed to close the issue.

[2022-03-17 14:50] #83 closed, assigned to nobody

[2022-03-17 14:57] jrc-inspire commented on #81
The functionality of the INSPIRE Geoportal backend is being migrated to a GeoNetwork-based architecture.
Therefore, open issues affecting the current INSPIRE Geoportal backend will not be addressed unless cases of justified need are identified.

Once the revamped Geoportal is ready, we will revisit this issue to check if the problems with the certificate remain.

Please contact us at [JRC-INSPIRE-

[2022-03-17 14:57] #81 closed, assigned to nobody

[2022-03-17 16:43] jescriu commented on #89
Dear @kdemetriou,

It is not clear for me which metadata editor did you use - Can you please confirm?

The metadata editor which was available thought the INSPIRE Geoportal was dismissed years ago.

It is probable that the metadata records you edited are not following the rules stated in the [INSPIRE Metadata technical guidelines](https://inspire.ec.europa.eu/id/document/tg/metadata-iso19139), whi

[2022-03-17 16:43] #89 closed, assigned to nobody

[2022-03-17 16:57] #62 closed, assigned to nobody

[2022-03-17 17:27] jescriu commented on #61
Dear @MartinTuchyna,
I am confident that the [presentation on the Monitoring and Reporting 2021](https://wikis.ec.europa.eu/download/attachments/40702165/MIG-T68_INSPIRE_Monitoring_Reporting_2021.pdf?version=1&modificationDate=1643965763457&api=v2) the JRC team gave in the last 68th MIG-T Meeting might solved some of your questions.

For instance, MDi1.X indicators (conformity of metadata), are ca

[2022-03-17 17:27] #61 closed, assigned to nobody

[2022-03-17 18:27] #44 closed, assigned to dartasensi

[2022-03-22 06:58] alitka opened #95 "DE: request for a new harvesting"
Dear Geoportal Helpdesk,

As mentioned in Roberts Mail from 2020/03/02 we would like to initiate a new push of our metadata records to the EU Geoportal. For this reason, we kindly ask you to start a new harvesting of our catalogue instance and publish them for us in the Geoportal harvesting "sandbox", please.

Thanks in advance and best regards,
Anja (on behalf of Coordination Office SDI Germany)

[2022-03-22 07:29] alitka commented on #5
Dear @MarcoMinghini and @dartasensi,
Any news to our above observations?
Thanks in advance and kind regards.

[2022-03-22 12:22] trodin opened #96 "Download services with authorization- not visible on Geoportal"
We noticed that services that require some kind of authorization with token or some kind of password are not seen on Inspire Geoportal i.e datasets that those services serve cannot be downloadable on the Geoportal.

Since Reference validator gives an option to insert credentials on serveries when tested and those service are completely valid, we are wondering why those services are not visible on

[2022-03-22 12:30] trodin opened #97 "Monitoring results 2022"
We have noticed that we have 100% of conformant datasets in Annex 1 and Annex 2 in Monitoring results INSPIRE Geoportal - INSPIRE Monitoring and Reporting 2021 (europa.eu).
Since we have a lot of datasets metadata in annex 1 and 2 that in metadata conformity statement state that conformity to Regulation 1089 is false, we wonder how this is possible.

[Annex I_xml.zip](https://github.com/INSPIRE-MI

[2022-03-23 11:35] sMorrone commented on #97
Dear @trodin,
the reported issue is related to the INSPIRE Geoportal activities, therefore I am moving it to related [Geoportal Helpdesk](https://github.com/INSPIRE-MIF/helpdesk-geoportal)

[2022-03-24 12:58] MatAlps commented on #79
Hi,

Could you have a look at this?

We still have the problem.

In our last harvest the following record https://catalog.inspire.geoportail.lu/geonetwork/srv/eng/catalog.search#/metadata/2a18c162-b9fd-4097-b367-e47de238f4f5 is found without download & view link:
![image](https://user-images.githubusercontent.com/53038426/159919954-63567a39-0fda-4781-8965-80ad0861fa93.png)

But performing the test

[2022-03-25 08:41] alitka commented on #97
Related to #5 - calculation of indicators > request for detailed documentation

[2022-03-29 05:35] alitka commented on #95
Dear @dartasensi
We would appreciate if you could start a new harvesting process, as the results of the last harvesting process are already one month old and are not the best in terms of the number of "Downloadable Data Sets".
Thanks in advance and best regards.

[2022-03-29 08:38] jescriu commented on #95
Dear @alitka,
We will start the new harvest as soon as possible and will let you know.
Best,
Jordi

[2022-03-29 10:09] jescriu commented on #95
The new harvest is started.
Best,
Jordi

[2022-03-29 11:45] InspireGeo opened #98 "Metadata of Germany data is not displayed in English"
Metadata of Germany data is not displayed in English in Inspire Geoportal. Only available in the original German language.
When you change the language to English, you will get the **null** response.

https://inspire-geoportal.ec.europa.eu/results.html?country=de&view=details&theme=none

[2022-03-29 13:20] vicehovskis opened #99 "Problem with harvesting and harvest console"
It seems there is a problem with harvest console -> here we see harvesting status https://inspire-geoportal.ec.europa.eu/harvesting_status.html

<img width="869" alt="image" src="https://user-images.githubusercontent.com/56715045/160619844-a1859897-992a-40be-b785-8530b678f6d3.png">

But in practice we tried to harvest metadata about 20 times un March and we see that we can "Schedule a new harvest"

[2022-03-29 13:24] vicehovskis opened #100 "Problem with resource linkages checker tool"
Trying to use resource linkages checker tool https://inspire-geoportal.ec.europa.eu/linkagechecker.html  there is no any results, it seems that this tools don`t work at all. All the time is received and nothing happens ->
<img width="894" alt="image" src="https://user-images.githubusercontent.com/56715045/160621341-123dc9bf-4b75-4111-94ae-253428f33792.png">

[2022-03-30 08:28] vicehovskis opened #101 "Service metadata not available on Inspire portal"
We see the problem, that many of services from our metadata catalogue are not available on Inspire portal.

For example -> https://inspire-geoportal.ec.europa.eu/download_details.html?view=downloadDetails&resourceId=%2FINSPIRE-10108b88-d195-11e5-91ce-52540023a883_20220330-093802%2Fservices%2F1%2FPullResults%2F401-425%2Fdatasets%2F1&expandedSection=metadata

Data metadata are available on Inspire G

[2022-03-31 06:38] jrc-inspire commented on #65
The functionality of the INSPIRE Geoportal backend is being migrated to a GeoNetwork-based architecture.

Despite were not planning to address open issues affecting the current INSPIRE Geoportal backend because of the mentioned reason, we are investigating the possible cause of the reported drop in the number of downloadable datasets for your endpoint. At the moment, without any results.

It would

[2022-03-31 06:41] jrc-inspire commented on #92
Despite were not planning to address open issues affecting the current INSPIRE Geoportal backend because of the mentioned reason, we are investigating the possible cause of the reported drop in the number of downloadable datasets for your endpoint. At the moment, without any results.

It would be helpful if you could check in parallel the logs in your infrastructure to identify any potential issue

[2022-03-31 06:42] jrc-inspire commented on #88
The functionality of the INSPIRE Geoportal backend is being migrated to a GeoNetwork-based architecture.

Despite were not planning to address open issues affecting the current INSPIRE Geoportal backend because of the mentioned reason, we are investigating the possible cause of the reported drop in the number of downloadable datasets for your endpoint. At the moment, without any results.

It would

[2022-03-31 06:45] jrc-inspire commented on #79
The functionality of the INSPIRE Geoportal backend is being migrated to a GeoNetwork-based architecture.

Despite were not planning to address open issues affecting the current INSPIRE Geoportal backend because of the mentioned reason, we are investigating the possible cause of the reported drop in the number of viewable datasets for your endpoint. At the moment, without any results.

It would be

[2022-03-31 06:49] jrc-inspire commented on #90
The functionality of the INSPIRE Geoportal backend is being migrated to a GeoNetwork-based architecture.

Despite were not planning to address open issues affecting the current INSPIRE Geoportal backend because of the mentioned reason, we are investigating the possible cause of the reported drop in the number of viewable datasets in the Geoportal. At the moment, without any results.

It would be h

[2022-03-31 06:54] jrc-inspire commented on #80
The functionality of the INSPIRE Geoportal backend is being migrated to a GeoNetwork-based architecture, which will be available soon.

Therefore, open issues affecting the current INSPIRE Linkage Checker (being part of the infrastructure tools associated to the current INSPIRE Geoportal backend) will not be addressed unless cases of justified need are identified.

Please contact us at [JRC-INSPIR

[2022-03-31 06:54] #80 closed, assigned to nobody

[2022-03-31 07:04] jrc-inspire commented on #68
The functionality of the INSPIRE Geoportal backend is being migrated to a GeoNetwork-based architecture.

Despite were not planning to address open issues affecting the current INSPIRE Geoportal backend because of the mentioned reason, we are investigating the possible cause of a drop in the number of viewable datasets in the Geoportal. At the moment, without any results.

It would be helpful if y

[2022-03-31 07:12] jrc-inspire commented on #64
The functionality of the INSPIRE Geoportal backend is being migrated to a GeoNetwork-based architecture, which will be available soon.

Therefore, open issues affecting the current INSPIRE Linkage Checker (being part of the infrastructure tools associated to the current INSPIRE Geoportal backend) will not be addressed unless cases of justified need are identified.

Please contact us at [JRC-INSPIR

[2022-03-31 07:12] #64 closed, assigned to nobody

[2022-03-31 07:14] jrc-inspire commented on #52
We proceed to close this issue.

The functionality of the INSPIRE Geoportal backend is being migrated to a GeoNetwork-based architecture, which will be available soon.

Therefore, open issues affecting the current INSPIRE Linkage Checker (being part of the infrastructure tools associated to the current INSPIRE Geoportal backend) will not be addressed unless cases of justified need are identified.

[2022-03-31 07:14] #52 closed, assigned to nobody

[2022-03-31 07:19] jrc-inspire commented on #75
The functionality of the INSPIRE Geoportal backend is being migrated to a GeoNetwork-based architecture, which will be available soon.

Therefore, open issues affecting the current INSPIRE Linkage Checker (being part of the infrastructure tools associated to the current INSPIRE Geoportal backend) will not be addressed unless cases of justified need are identified.

Please contact us at [JRC-INSPIR

[2022-03-31 07:19] #75 closed, assigned to nobody

[2022-03-31 07:22] jrc-inspire commented on #57
The functionality of the INSPIRE Geoportal backend is being migrated to a GeoNetwork-based architecture.

Despite were not planning to address open issues affecting the current INSPIRE Geoportal backend because of the mentioned reason, we are investigating the possible cause of the reported drop in the number of downloadable datasets in the Geoportal. At the moment, without any results.

It would

[2022-03-31 07:23] jrc-inspire commented on #59
The functionality of the INSPIRE Geoportal backend is being migrated to a GeoNetwork-based architecture.

Despite were not planning to address open issues affecting the current INSPIRE Geoportal backend because of the mentioned reason, we are investigating the possible cause of the a drop in the number of downloadable datasets in the Geoportal. At the moment, without any results.

It would be help

[2022-03-31 07:28] jrc-inspire commented on #69
The functionality of the INSPIRE Geoportal backend is being migrated to a GeoNetwork-based architecture.

Despite were not planning to address open issues affecting the current INSPIRE Geoportal backend because of the mentioned reason, we are investigating the possible cause of a drop in the number of downloadable datasets in the Geoportal. At the moment, without any results.

It would be helpful

[2022-03-31 09:18] jrc-inspire commented on #5
Dear @alitka,

apologies for the late reply.
Thanks a lot for your further investigation and time spent about this issue.
We can confirm this conformity bug, that you initially discovered and disclosed with us, is still present in the latest evaluation process of the MR2021.
During the overwhelming activity that hit our team between November and December, prior to the M&R deadline, this bug was fi

[2022-04-04 08:53] agesild opened #102 "Geoportal harvest: Downloadable Data Sets amount very low"
Hello,
- Last 4 Estonian metadata harvesting attempts results since 31.03 show very low amount of downloadable data sets. Only 5 datasets are marked as downloadable, Last normal harvest was 47!!
- Linkage checker control results does not match harvesting result.

- Example of metadata complect that is green in linkage checker but does not have a download service by harvest:

Datased metadata: http

[2022-04-04 09:21] oberseri commented on #65
Dear all,
we understand, that you keep you eyes on the future, but please don't forget our bad 2021 monitoring results.

[2022-04-07 05:48] alitka commented on #95
Dear @jescriu ,
I've checked the harvest console several times, but all I can see is that the harvest is still ongoing and was originally scheduled to be completed on March 30, 2022. Can you please look in your logs, if it's in the final post-processing phase or still harvesting?
Thanks in advance and best regards.

[2022-04-07 06:12] alitka commented on #5
Dear @jrc-inspire support team,
Could you elaborate on the release of the Geonetwork release package and what exactly it allows us to run and test locally?
Thanks and regards!

[2022-04-08 13:02] ffarr2019 commented on #102
We (Malta) have the same issues

![image](https://user-images.githubusercontent.com/32981299/162440930-882f2e30-1068-4e10-9e37-38d4add5157c.png)

[2022-04-11 06:06] vicehovskis commented on #102
Latvia has the same issue, but there is no response to the tickets.

[2022-04-13 05:31] alitka commented on #95
Dear @jescriu,
We're almost waiting for over four weeks of the latest harvest results in the harvest console. We would appreciate if you could provide use the results or start a new harvesting process.
 Thanks in advance and best regards.

[2022-04-15 14:35] MatAlps commented on #79
Hi,

Thanks a lot for your answer.
We are checking our logs and found indeed a lot of timeouts, NGINX status 499 "Client closed connection".
Also that the calls from the validator are most of the time unique (very good).

Those 499 happen when the client (=validator in this case) close the connection.
We cannot at the moment have the request time on our side - we are working on it.
In the meanwhil

[2022-04-18 19:26] jrc-inspire commented on #95
Dear @alitka

apologies for the late reply.
The latest harvest was unable to complete (more than 8k metadata were still waiting to be processed).
Plus, the HarvestConsole never recovered and it got stuck with this inaccurate "Running" message.

We are currently investigating which is the culprit of these frequent errors, that other MS reported and unfortunately experienced. We really appreciate yo

[2022-04-20 17:24] jescriu commented on #95
Dear @alitka,
Our INSPIRE Geoportal IT Team managed to complete the harvest of your endpoint using the harvesting console.
Please, revise the results and let us know if the resulting indicators are as expected - We noticed a decrease of metadata records, while an increased number of downloadable datasets. In case you would be willing to comment on the results, contact us by email.
Excuses for my d

[2022-04-20 17:24] #95 closed, assigned to nobody

[2022-04-20 17:31] jescriu commented on #79
Dear @MatAlps,
We will analyse your request and we will come back to you as soon as possible.
Best,
Jordi

[2022-04-22 15:27] MatAlps commented on #79
Dear @jescriu ,

Thx for your answer.

In the meanwhile we have measured 5 seconds timeout for GetMap, and 10 seconds for GetCapabilities.
We are working to improve our side to be able to provide response times below those values during a harvest.

Worth noting: we observed that during a harvest, our geoserver, that is distributing allmost all the INSPIRE layers for LUX, receives more than 500 req

[2022-04-22 16:59] jescriu commented on #79
Dear @MatAlps,
Regarding your post+question quoted below:

Just to double-check with you that you are referring to the INSPIRE Reference Validator, and not to the INSPIRE Geoportal - Could you confirm? Not sure if we are mixing 2 different topics here.

Regarding you last post quoted below:

I agree that this worths a discussion, since it not the aim of the INSPIRE Geoportal to diminish the perfor

[2022-04-23 15:45] laers commented on #102
Denmark has the same issue.

[2022-04-26 07:39] jrc-inspire commented on #102
Dear colleagues,
As mentioned in other issue threads regarding this problem, our INSPIRE Geoportal IT Team is still investigating the possible cause of the reported drop in the number of downloadable datasets for several endpoints. At the moment, without any results.
Since the code of the Geoportal has not been changed from the past M&R2021 round, we are focusing our analysis in other potential ca

[2022-04-26 16:16] MatAlps commented on #79
Hi Jordi,

Thx for your answer and the intention of bringing this topic for internal discussion.

I am talking about what happens when we launch an harvest from the [harvest console](https://inspire-geoportal.ec.europa.eu/harvestconsole/) of the luxembourg INSPIRE catalog. I recognize that I did not make that clear.

Please find the logs we have for an harvest done on 21/04 : [79 logs 21-04-2022 h

[2022-04-26 16:34] jescriu commented on #79
Dear @MatAlps,
Thank you for the clarification. Therefore, you only refer to the INSPIRE Geoportal harvesting process.
I will share the logs with our INSPIRE Geoportal IT team, for evaluation.
All the best.

[2022-05-13 08:17] marcingrudzien opened #103 "Incorect monitoring results"
Hi,

I have been analysing the conformant data sets based on metadata declarations for Poland. I found discrepancies regarding values of indicators related to the conformity of spatial data sets (DSi2 and DSi2.*).

After analysing all 147 data sets and series metadata records uploaded to INSPIRE geoportal I have noticed that we have 113 conformant and 34 not conformant data sets and series. Theref

[2022-05-16 07:11] alitka commented on #103
Related to
- https://github.com/INSPIRE-MIF/helpdesk-geoportal/issues/5 - calculation of indicators > request for detailed documentation
- https://github.com/INSPIRE-MIF/helpdesk-geoportal/issues/97 > Monitoring results 2022

[2022-05-16 07:13] alitka opened #104 "DE: request for a new harvesting"
Dear Geoportal Helpdesk,

As mentioned in Roberts Mail from 2020/03/02 we would like to initiate a new push of our metadata records to the EU Geoportal. For this reason, we kindly ask you to start a new harvesting of our catalogue instance and publish them for us in the Geoportal harvesting "sandbox", please.

Thanks in advance and best regards,
Anja (on behalf of Coordination Office SDI Germany)

[2022-05-16 07:31] jescriu commented on #104
Dear @alitka,
Thank you for your request.

Our INSPIRE Geoportal IT team made (quite recently) some quality checks and improvements in the deployment of the INSPIRE Geoportal which is available online to all Member States and EFTA countries through the harvest console.

In fact were willing to contact you to schedule a new harvest of the German discovery service endpoint to check if these improvem

[2022-05-16 12:49] alitka commented on #104
Thanks @jescriu, for the good news.

[2022-05-16 18:35] jescriu commented on #104
@alitka,
We will let you know when the harvest is started (have to check first for availability of IT resources) and hopefully finished.

[2022-05-16 19:20] jescriu commented on #102
Dear all,

Our INSPIRE Geoportal IT team made (quite recently) some quality checks and improvements in the deployment of the INSPIRE Geoportal which is available online to all Member States and EFTA countries through the harvest console.

@agesild - A new harvest of the Estonian discovery service endpoint was executed on 4th May, providing much better results particularly in terms of downloadable

[2022-05-16 19:20] #102 closed, assigned to nobody

[2022-05-16 21:06] jescriu commented on #103
Dear @marcingrudzien,
Thank you for your (always) comprehensive analysis.

As @alitka mentioned, this is known issue in the current INSPIRE Geoportal that the INSPIRE Geoportal team committed to address in order a keep totally aligned with the self-declared conformity values by Member States and EFTA countries.

Since we are currently in the process of migrating towards a new system for the INSPIR

[2022-05-16 21:06] #103 closed, assigned to nobody

[2022-05-16 21:08] jescriu commented on #97
Dear @trodin ,
Thank you for highlighting this issue.

As @alitka mentioned, this is known issue in the current INSPIRE Geoportal that the INSPIRE Geoportal team committed to address in order a keep totally aligned with the self-declared conformity values by Member States and EFTA countries.

Since we are currently in the process of migrating towards a new system for the INSPIRE Geoportal backend

[2022-05-16 21:08] #97 closed, assigned to nobody

[2022-05-16 21:18] jescriu commented on #99
Dear @vicehovskis,
Thank you for your patience.

The issue is already solved. As mentioned in ['Geoportal harvest: Downloadable Data Sets amount very low'](https://github.com/INSPIRE-MIF/helpdesk-geoportal/issues/102#), a new harvest of the Latvian discovery service endpoint was executed on 16th May, and the results are pending to be published from your side.
Please, have a look and provide feedba

[2022-05-16 21:18] #99 closed, assigned to nobody

[2022-05-16 21:22] jescriu commented on #101
Dear @vicehovskis,
Thank you for your patience.

As mentioned in https://github.com/INSPIRE-MIF/helpdesk-geoportal/issues/102#, a new harvest of the Latvian discovery service endpoint was executed on 16th May, and the results are pending to be published from your side.
Please, have a look and check if this dataset is now appropriately recognise as downloadable, as you expected.

Thank you.

[2022-05-16 21:22] #101 closed, assigned to nobody

[2022-05-16 21:28] jrc-inspire commented on #100
The functionality of the INSPIRE Geoportal backend is being migrated to a GeoNetwork-based architecture, which will be available soon.

Therefore, open issues affecting the current INSPIRE Linkage Checker (being part of the infrastructure tools associated to the current INSPIRE Geoportal backend) will not be addressed unless cases of justified need are identified.

Please contact us at [JRC-INSPIR

[2022-05-16 21:28] #100 closed, assigned to nobody

[2022-05-16 21:45] jrc-inspire commented on #98
Dear @InspireGeo,
The INSPIRE Geoportal team is aware of this issue.

Since the functionality of the INSPIRE Geoportal backend is being migrated to a GeoNetwork-based architecture, which will also integrate the automatic metadata translations, we will not be addressing the new issues affecting the current INSPIRE Geoportal unless cases of justified need are identified.

Please contact us at [JRC-I

[2022-05-16 21:45] #98 closed, assigned to nobody

[2022-05-16 22:02] jescriu commented on #92
Dear @MartinTuchyna,

Thank you for the bilateral meeting we (INSPIRE Team) had with your SK Team after the last MIG-T Meeting (on 1st April). It was really helpful for us.

As communicated to you through email recently, our INSPIRE Geoportal IT team made some quality checks and improvements in the deployment of the INSPIRE Geoportal which is available online to all Member States and EFTA countrie

[2022-05-16 22:02] #92 closed, assigned to nobody

[2022-05-16 22:11] jescriu commented on #91
Dear @MartinTuchyna,

As reported in [Missing significant amount of SK download services MD without clear reason](https://github.com/INSPIRE-MIF/helpdesk-geoportal/issues/92#), the INSPIRE Geoportal Team managed to make some quality checks and improvements in the deployment of the INSPIRE Geoportal which is available online to all Member States and EFTA countries.

As a result of it, the harvests

[2022-05-16 22:11] #91 closed, assigned to nobody

[2022-05-16 22:21] jescriu commented on #88
Dear @hallinpihlatie,

Thank you for your patience.

Our INSPIRE Geoportal IT team made (quite recently) some quality checks and improvements in the deployment of the INSPIRE Geoportal which is available online to all Member States and EFTA countries through the harvest console.

A new harvest of the Finish discovery service endpoint was executed on 4th May, providing much better results, particul

[2022-05-16 22:21] #88 closed, assigned to nobody

[2022-05-16 22:43] jescriu commented on #79
Dear @MatAlps,

Thank you for your patience.

Our INSPIRE Geoportal IT team made (quite recently) some quality checks and improvements in the deployment of the INSPIRE Geoportal which is available online to all Member States and EFTA countries through the harvest console.

A new harvest of the Luxembourg discovery service endpoint was executed on 5th May, providing better results - See below:
![im

[2022-05-16 22:43] #79 closed, assigned to nobody

[2022-05-16 23:00] jescriu commented on #65
Dear @manilly and @oberseri,

Our INSPIRE Geoportal IT team made (quite recently) some quality checks and improvements in the deployment of the INSPIRE Geoportal which is available online to all Member States and EFTA countries through the harvest console.

A new harvest of the AT discovery service endpoint was executed on 12th May:
![image](https://user-images.githubusercontent.com/22743378/16869

[2022-05-16 23:00] #65 closed, assigned to nobody

[2022-05-16 23:06] jescriu commented on #57
Dear @LauraAlemany,

Our INSPIRE Geoportal IT team made (quite recently) some quality checks and improvements in the deployment of the INSPIRE Geoportal which is available online to all Member States and EFTA countries through the harvest console.

A new harvest of the Spanish discovery service endpoint was executed on 13th May:
![image](https://user-images.githubusercontent.com/22743378/168696423

[2022-05-16 23:06] #57 closed, assigned to nobody

[2022-05-16 23:20] jescriu commented on #69
Dear @Ana-SGA,

Thank you for your patience.

Our INSPIRE Geoportal IT team made (quite recently) some quality checks and improvements in the deployment of the INSPIRE Geoportal which is available online to all Member States and EFTA countries through the harvest console.

A new harvest of the Croatian discovery service endpoint was executed on 4th May, providing better results - See below:
![imag

[2022-05-17 09:11] hallinpihlatie commented on #88
Thanks @jescriu. That's great news!! Could you please publish the results?
Wishing you a nice spring

[2022-05-17 12:52] laers opened #105 "DK Linkage checker fails for several resources"
Thanks for your mail and offer to investigate more - I hereby gives two examples of resources (dataset-view-download) which fails in the linkage checker even though they previously have been harvested with success:

DK INSPIRE PS Natura 2000 bird protection areas
[dataset metadata 59af29ff-e5a9-4aee-a923-e903faed674f](https://www.geodata-info.dk/srv/api/records/59af29ff-e5a9-4aee-a923-e903faed674f

[2022-05-18 09:52] grigoriouelena opened #106 "Assistance on new harvesting result"
We have ran a new harvesting of the Greek metadata catalog.
We could use some assistance on the results regarding the following 2 resources that seem to be problematic.
- http://geoportal.ypen.gr/geonetwork/srv/api/records/96e94573-281c-452b-b27a-f4428bac8147/formatters/xml
- http://geoportal.ypen.gr/geonetwork/srv/api/records/011f6169-91b0-44bc-866a-6b5e0d7b68f0/formatters/xml

After the harvesti

[2022-05-19 05:55] alitka commented on #104
Dear @jescriu,
The harvesting was successful! We've checked the results, and did the finally publishing. Therefore, I'll close this issue.
Kind regards.

[2022-05-19 09:09] manilly opened #107 "AT: Harvesting result not being published"
Hi,
I did a Harvesting for our AT Endpoint. The harvesting did complete, but the Publish operation seems to be stuck since 2 hours.
Can you have a look into it?

![image](https://user-images.githubusercontent.com/45065613/169257592-99718b2d-d8a0-4065-8c5b-eb8a432be239.png)

[2022-05-19 13:01] alitka commented on #104
Hi @jescriu ,
At the moment, I'm not able to publish our latest harvest results. I know, that the Geoportal needs time to transfer and index our data, but normally I can see our entre right after the "Publish" on the Harvesting Status page.

Therefore, could you please check, if the transfer and publishing of our latest harvest request is not possible due to temporarily low disk space resources on

[2022-05-19 13:21] jescriu commented on #107
Dear @manilly,
Thank you for warning us. Out IT Geoportal team will have a look and let you know as soon as possible.
All the best.

[2022-05-19 13:26] jescriu commented on #104
Thank you @alitka.
As mentioned in [#107 - AT: Harvesting result not being published](https://github.com/INSPIRE-MIF/helpdesk-geoportal/issues/107), it seems that the process publishing the results is stuck (probably because lack of disk space).
Our IT Geoportal team will have a look at as soon as possible to solve the issue.

[2022-05-19 16:48] jescriu commented on #96
Dear @trodin,
The main goal of the INSPIRE Geoportal is to provide access to easy to use spatial data services from Member States which are made available to the public (see Article 11(1) of the [INSPIRE Directive](https://eur-lex.europa.eu/legal-content/EN/TXT/PDF/?uri=CELEX:32007L0002&from=EN)).
Member States can only limit public access to spatial services in accordance with Article 13.
For the

[2022-05-19 16:48] #96 closed, assigned to nobody

[2022-05-20 08:52] hallinpihlatie commented on #93
Any news or time table on this?
We have a summer trainee that I was planning to ask to use this functionality in order to do some metadata quality checks.

[2022-05-20 10:37] laers opened #108 "Change of endpoint url to Danish CSW"
When I'm trying to start a harvest, I immediately get a status 500:

![billede](https://user-images.githubusercontent.com/34093019/169509748-380457c2-450a-4aaa-b7f9-157f56f606b9.png)

The CSW-endpoint has to include "www":
`https://www.geodata-info.dk/srv/eng/csw?request=GetCapabilities&service=CSW&version=2.0.2`
instead of:
`https://geodata-info.dk/srv/eng/csw?request=GetCapabilities&service=CSW&

[2022-05-20 10:41] Ana-SGA commented on #69
Dear @jescriu ,

thank you - the results are now much better. Mostly the Download link is now available except for a smaller part of services, eg https://geoportal.kulturnadobra.hr/servisi/grafika/ProtectedSites/wfs?service=WFS&request=GetCapabilities - can you maybe take a look? The Validator says that Stored Query definition isn't correct - could that be the problem for missing the Download link

[2022-05-20 13:51] jescriu commented on #69
Dear @Ana-SGA,
Thank you for your positive feedback, with which I will close this issue.
As said in our bilateral meeting today, please feel free to use this channel to ask any remaining questions regarding specific services.
All the best.

[2022-05-20 13:51] #69 closed, assigned to nobody

[2022-05-30 05:42] manilly commented on #107
Latest publish worked as expected

[2022-05-30 05:42] #107 closed, assigned to nobody

[2022-06-02 08:10] wboersma opened #109 "NL: download service is available at dataset page but it is not available according to the overview page"
The download service is not available on an overview page in the geoportal, but if you click on the dataset, download services are available. How is this possible?

See for example: Aardbevingen Nederland (KNMI)
In the overview page of NZ (https://inspire-geoportal.ec.europa.eu/results.html?country=nl&view=details&theme=nz) the download icon is not available.:
![image](https://user-images.githubus

[2022-06-06 11:27] grigoriouelena opened #110 "new harvesting hasn't been completed since May 31st"
The harvesting we requested on May 31st has not been completed yet.
![image](https://user-images.githubusercontent.com/55238073/172151968-f565d544-4c3f-42b0-9483-f0b55dcd639f.png)
I guess there is nothing we can do from our side.
Could you please stop this in order for us to request a new one?

Thanks in advance.

Elena

[2022-06-07 09:49] laers commented on #108
We are working on a solution where we can keep the original endpoint. If this is a success, it will not be necessary to change the url from your side - I will let you know.

Thanks and sorry for the inconvenience.

Lars

[2022-06-07 09:49] #108 closed, assigned to nobody

[2022-06-10 10:54] #105 closed, assigned to nobody

[2022-06-10 14:36] jescriu commented on #110
Dear @grigoriouelena,
We will have a look as soon as possible and let you know.
The harvest should be stuck.
All the best.

[2022-06-10 22:16] jescriu commented on #110
Dear @grigoriouelena,
Our INSPIRE Geoportal IT team restarted your harvest and successfully finished.
Please, revise the results through the harvest console.
All the best.

[2022-06-10 22:16] #110 closed, assigned to nobody

[2022-06-10 22:21] jescriu commented on #104
Dear @alitka,
The results have been successfully published.
All the best.

[2022-06-10 22:21] #104 closed, assigned to nobody

[2022-06-13 06:49] JohannaOtt commented on #64
@jrc-inspire Did the migration already happen or can you provide a timeline on when this will take place?

[2022-06-22 13:03] PeKoNW opened #111 "Linkage Checker claims a missing resource locator (URL) of the Data Set from the Download service but the metadata is tested valid by the Reference validator and the link can be seen in the Geoportal"
The Linkage Checker claims a missing resource locator (URL) of the Data Set from the Download service when checking the dataset "INSPIRE NW Verwaltungseinheiten ALKIS" (d98a75f3-547b-4ebd-9d15-e24e4d27a6a4) and its coupled services WMS (bb507dab-926a-4db3-b06a-eb1a9885a6ac) and WFS (e53e2a4b-9760-4f59-a8d8-cb5794c556bd).
Checking the metadata itself with the Reference validator gives no errors. Th

[2022-06-30 12:00] alitka opened #112 "DE: request for a new harvesting"
Dear Geoportal Helpdesk,

As mentioned in Roberts Mail from 2020/03/02 we would like to initiate a new push of our metadata records to the EU Geoportal. For this reason, we kindly ask you to start a new harvesting of our catalogue instance and publish them for us in the Geoportal harvesting "sandbox", please.

Thanks in advance and best regards,
Anja (on behalf of Coordination Office SDI Germany)

[2022-07-04 07:54] jescriu commented on #112
Dear @alitka,
The INSPIRE Geoportal IT team will start the harvest as soon as possible.
I will keep you posted.

[2022-07-05 10:23] alitka commented on #112
Thanks @jescriu.
I've checked the harvest console. The harvest is ongoing and scheduled to be completed on July 06, 2022 (05:02:05, GMT+0200).
Best regards.

[2022-07-07 07:19] manilly opened #113 "Geoportal Harvest Console bugs"
Hi,
there are some problems within the Geoportal Harvesting console.

1. There are no icons shown in console (see screen 1)
2. The harvested metadata count is not shown (see screen 1)
3. Not able to calculate indicators report (see screen 2)

Can you have a look into this?

![image](https://user-images.githubusercontent.com/45065613/177714963-9da17ec3-1c5a-4ce4-b567-c36436769ad3.png)

![image](htt

[2022-07-07 07:30] jescriu commented on #113
Dear @manilly,
I will check this with out INSPIRE Geoportal IT team and will let you know.
Regards.

[2022-07-07 10:36] wboersma commented on #109
At the moment it is working properly again, so I close this issue.

[2022-07-07 10:36] #109 closed, assigned to nobody

[2022-07-11 06:52] JohannaOtt commented on #64
@jrc-inspire Could you please comment on the current state/timeline here?

[2022-07-11 10:12] dartasensi commented on #113
Dear @manilly

thanks for reporting us this bug.
There was an automatic update within the icon libraries, that generated this unexpected behavior.
Fixed, now it should be working as usual.

Regards

[2022-07-11 10:12] #113 closed, assigned to nobody

[2022-07-13 08:11] alitka commented on #112
Dear @jescriu

The second try of harvesting was successful, and we were able to check the latest result in the Harvest Console. Unfortunately, there is a discrepancy (over 30.500 records) of datasets and series records compared to our catalogue:

amount of records in our catalogue: 76.992
amount of records of the latest harvest session: 46.466

What could be the reason for this? Any ideas?

Thanks

[2022-07-13 15:23] jescriu commented on #112
Dear @alitka,
I was pending to send you an email for validating the results, because we also noticed the decreased in the indicators.
Since the total number of metadata records decreased, we thought that you did some "grouping" of resources.
Our INSPIRE Geoportal IT team will again try to investigate what could be the issue behind.

[2022-07-14 06:39] manilly commented on #113
Hi @dartasensi ,
thanks, the icons are back. Unfortunately I still have the problem, that there are no numbers shown for the harvesting report (see screen). So I can't review the result and publish it...

![image](https://user-images.githubusercontent.com/45065613/178917419-74af5b63-32da-465b-b78a-959964fd8223.png)

[2022-07-21 07:16] manilly commented on #113
@dartasensi problem still appears on harvesting today. Can you have a look into it an reopen bug?

[2022-07-26 06:45] alitka commented on #112
Dear @jescriu,
Did the INSPIRE Geoportal IT team find the issue behind the decrease? If not, could you please start a new harvest process?
Thanks in advance & best regards.

[2022-07-28 12:23] JulianaKar opened #114 "LT: Harvesting problem"
Dear Geoportal Helpdesk,

we wanted to harvest Lithuania's metadata into the INSPIRE Geoportal. The problem is that, after we run  "Schedule a new harvest" we don't get the "check and publish" option, only the "Schedule a new harvest" option appears again. Could you please assist us in identifying the problem?

![1](https://user-images.githubusercontent.com/79690428/181503727-898e3f68-a97d-47fe-88

[2022-07-28 12:50] jescriu commented on #114
Dear @JulianaKar,
Thanks for letting us know.
This morning there was an issue with the harvest console and we run out of resources. Maybe this is the reason for this behaviour.
We will let you know when the console is running properly again.

[2022-07-29 17:17] jescriu commented on #114
Dear @JulianaKar,
For some reason your previous harvest failed, but the error was present in the Harvest Console user interface only for a while - Yesterday we had to re-start the system and, as a result, the error notification disappeared from the interface.
Today we launched ourselves a new harvest of your endpoint and it was successful.
Please check and publish the results at your earliest conv

[2022-07-29 17:17] #114 closed, assigned to nobody

[2022-07-29 17:26] jescriu commented on #112
Dear @alitka,
Due to the dedication to the revamped INSPIRE Geoportal backend, we could not devote time to checking the potential issue behind the last harvest that resulted in decreased indicators. Instead of it, yesterday we started a new harvest to see if this time the indicators throw better results.
Please, @dartasensi - Update @alitka on the status of the harvest on Monday 1st August.
Regard

[2022-07-31 08:14] dartasensi commented on #112
Dear @alitka,

the harvest completed on Friday night (July 28th, around ~23:48) and it seems valid, at a first glance.
![image](https://user-images.githubusercontent.com/56717738/182016667-9f43eead-d00a-4d13-ac5d-522b6f6f3321.png)

As always, thanks for your patience and comprehension.
Please, review it at your earliest convenience.

KR

[2022-07-31 08:14] #112 closed, assigned to nobody

[2022-08-01 08:37] JulianaKar commented on #114
Thank you, @jescriu , for your help.
Unfortunately, I still have challenges with harvesting. When I looked at the report of the last pre-publish harvest ( Fri Jul 29 2022 12:32:02 GMT), I saw a decrease in the as-is metadata download services, but from our side, no changes were made to that metadata. I decided to initiate a new harvest, hoping that the new one will show better results.
After that,

[2022-08-02 09:21] alitka commented on #112
Dear @dartasensi ,

I've checked the results, but I wasn't able to publish our latest harvest results. I know, that the Geoportal needs time to transfer and index our data, but normally I can see our entre right after the "Publish" on the Harvesting Status page.

Therefore, could you please check, if the transfer and publishing of our latest harvest request is not possible due to temporarily low d

[2022-08-09 13:20] mwjsanders opened #115 "Linkage checker unable to build download link from atom"
For several ATOM's the [Linkage checker](https://inspire-geoportal.ec.europa.eu/linkagechecker.html) reports that it is unable to build a download link.
I would expect this error not to appear because ETF tests on the service and its metadata did not return any error for these atoms and the opensearch descriptions are generated and the example query in the opensearch description (after substitutio

[2022-08-17 07:30] JulianaKar opened #116 "Harvesting issue related to protection system"
Dear Geoportal team,
We are implementing protection system on the National Geoportal.
In our opinion, realted to this we are now getting "Harvesting error" in the Inspire Geoportal harvest console with the message "Request for caching of /INSPIRE-106902a4-2bd0-11e9-a83c-52540023a883_20220810-121902/services/1 ended with status 400".
Is there any known https://www.cloudflare.com configuration issue

[2022-09-13 13:06] oberseri commented on #111
The same problem for many Austrian Datasets (e.g. 004eb63f-4562-420f-84e4-bfbcffdde32d or 3c3803b3-1b53-4fb5-9595-9217b9891862); dataset metadata are valid, datasets are downloadable in the geoportal, BUT are marked as "not downloadable" in the geoportal overview list (no icon) and in the linkage checker report.

[2022-09-13 15:31] dartasensi commented on #116
Dear @JulianaKar

apologies for the late reply, but the team was on holidays, and then fully committed on the next release of the new Geoportal based on Geonetwork, so your request slipped through the cracks.

Last week, I did some tests on your endpoint. Indeed, I can confirm it: the issue is caused by your new Cloudflare protection. I think its feature commercial name might be Cloudflare Botfigh

[2022-09-16 10:31] milanSch commented on #115
Hi @mwjsanders
I have the same/similar problem with Linkage Checker + ATOM download service.

Input used to start the linkage checker:
Dataset metadata url: https://rpi.gov.sk/rpi_csw/service.svc/get?request=GetRecordById&service=CSW&version=2.0.2&elementSetName=full&outputschema=http://www.isotc211.org/2005/gmd&Id=https://data.gov.sk/set/rpi/gmd/00626031/CF3D3C625D6E2358E0530110000A920EHULI_INSPI

[2022-09-20 13:02] milanSch commented on #115
Hello,
Linkage Checker started to work (today, without any correction in my metadata) and validation is successful.
![image](https://user-images.githubusercontent.com/4444428/191261799-b3565e27-6e40-4206-8146-b5249fe72f9b.png)

A secondary result of my effort is that I find out a typo in metadata urls CSW request. I had parameter 'outputschema' instead of 'outputSchema'.

thanks a lot
milan

[2022-10-12 06:07] sebros123 opened #117 "Harvesting error"
Hi!

Sweden has problems with harvesting, we get this message when we try to harvest:

![test2 jpg](https://user-images.githubusercontent.com/92439786/195262982-8b733f56-7a99-45b9-8793-6dcc94f867db.png)

What is the easiest way to proceed with this? can you please help us

best regards, Sebastian

[2022-10-13 05:45] manilly opened #118 "Harvesting not working"
Hi,
I tried to do a harvest today.
After pressing the button "schedule a new harvest" this screen appears.
![image](https://user-images.githubusercontent.com/45065613/195511667-86f346d2-22cb-43d8-8f74-41b3264ad38c.png)

One minute later I get this again. The Harvesting doesn't start (Tried 4 times in a row now...)
![image](https://user-images.githubusercontent.com/45065613/195511787-ca2525c1-49eb-

[2022-10-18 14:59] fdumortier opened #119 "INSPIRE Harvest console : error 400 harvesting BE GEOBRU CSW"
Every trial to trigger a new harvesting session with our BE "_Service de découverte pour le catalogue Geobru_" CSW returns the following error :

Request for caching of /INSPIRE-210556c9-36d4-11e1-aeeb-52540004b857_20220927-110002/services/1 ended with status 400

However, our CSW still answers to my requests…

See this screenshot:
![image](https://user-images.githubusercontent.com/28805451/196466

[2022-10-19 07:46] magearu opened #120 "RO: Error in harvest process"
Hi,
We are having problems with the harvest process. Every time we start harvesting, we receive the same error ended with status 400:

![Capture](https://user-images.githubusercontent.com/96180749/196628564-5ee9f265-724d-4b20-8792-977c76eb8410.JPG)

Please help us to identify the cause of this issue.
All the best regards,
G. Magearu

[2022-10-19 09:49] alitka opened #121 "DE: request for a new harvesting"
Dear Geoportal Helpdesk,

As mentioned in Roberts Mail from 2020/03/02 we would like to initiate a new push of our metadata records to the EU Geoportal. For this reason, we kindly ask you to start a new harvesting of our catalogue instance and publish them for us in the Geoportal harvesting "sandbox", please.

Thanks in advance and best regards,
Anja (on behalf of Coordination Office SDI Germany)

[2022-10-20 05:17] manilly commented on #118
1 week later, Still not working